[2019-08-15 16:30] alexellis opened #1 "Add --merge option to k3sup install"
## Description

Add --merge option to k3sup install

## Detail

This would take an existing kubeconfig file and merge the incoming configuration. By default this tends to switch the context.

Examples:

https://ahmet.im/blog/mastering-kubeconfig/

This can also be done via code with `kubectl`:

https://github.com/civo/cli/blob/0a5cd47484999fb61f5bd27c46c81209211b2bb4/lib/kubernetes.rb#L200

If we

[2019-08-16 07:33] alexellis opened #2 "[Feature] Add non-ssh option for cloud-init/local use"
The output to STDIO will be captured in the `cloudinit` logs if used when provisioning a new VM.

Add an option to go "quiet" and to run local commands instead of `ssh` for this use case.

The user would then connect from his or her laptop using the `--skip-install` command to bring back a local kubeconfig file.

[2019-08-16 07:36] alexellis commented on #1
If anyone should want to pick this up, I think the way the Civo Ruby CLI does this would work fine for the tool.

It should be a relatively simple case of "exec" to run "kubectl" and then flatten/merge the new kubeconfig and the old one (if it exists).

Example of go/exec -> https://golang.org/src/os/exec/example_test.go

[2019-08-16 14:54] alejandrojnm opened #3 "Provision the slaves after the master is running"
Add a parameter that can be something like `--slave` and pass a list of ip like `[192.168.1.3,192.168.1.2]` or `"192.168.1.3, 192.168.1.2"`, I think it would be great

[2019-08-16 19:07] utsavanand2 commented on #1
I've sent a pull request :)

[2019-08-16 19:25] alexellis commented on #3
I like this. So we would do something like:

`k3sup join` ?

[2019-08-16 19:38] alejandrojnm commented on #3
It seems good to me. what I see more, as something you use while creating the master to be done in parallel, but you prefer create like something apart?

[2019-08-16 19:42] alexellis commented on #3
Yes as a second command that first connects to the master to get the token, then adds it to each agent node

[2019-08-16 19:48] geekdave opened #6 "Docs: SAN definition and purpose"
I'll volunteer to make this doc update, just wanted to get some clarification first to make sure I understand.

The README says that this tool:

Looks like this refers to the flag:

[code]

...in k3s: https://github.com/rancher/k3s/blob/99716deb08784e62ecd29f4f457fb20c73310748/pkg/cli/cmds/server.go#L122-L125

I had to google "SAN certificate" but I learned that SANs provide the ability to have mu

[2019-08-16 19:50] geekdave commented on #3
This would be amazing for making clusters disposable and easy to recreate automatically.  Note that k3s uses `server` / `agent` and not `master` / `slave`.

[2019-08-16 19:55] alexellis commented on #6
Where would you add it? We don't expose any flag called SAN? It's just called IP.

[2019-08-16 19:56] alexellis commented on #3
I'm aware of the terminology in k3s, however k3s creates Kubernetes which uses other terminology.

Thanks for your interest in the feature. I think I'll have a go at it.

[2019-08-16 20:11] geekdave commented on #6
Right - not adding a new flag, just augmenting the part of the README that says `updates the SAN address to the public IP` with some info about what a SAN is, and why this is needed (i.e. what problem is this solving, what is the problem if you don't add this), or what manual step in setting up k3s this --IP flag serves to automate.

[2019-08-16 20:59] #3 closed

[2019-08-16 21:00] alexellis commented on #3
Please try this out in the latest version 0.2.0

Thank you again for the idea :100:

[2019-08-16 21:01] alexellis commented on #6
I've changed the console output to remove the text "SAN", I hope this helps.

[2019-08-16 21:03] #6 closed

[2019-08-17 05:56] alexellis commented on #1
https://github.com/alexellis/k3sup/pull/4

[2019-08-18 13:13] HeavyHorst opened #8 "[Feature Request] Encrypted SSH keys"
## Current Behaviour

k3sup install --ip $IP --user root panics with
[code]

## Possible Solution

The Program could ask for the ssh key passphrase and use
`signer, err := ssh.ParsePrivateKeyWithPassphrase(key, []byte("password"))` instead of
`signer, err := ssh.ParsePrivateKey(key)`

[2019-08-18 13:56] alexellis commented on #8
Derek set title: [Feature Request] Encrypted SSH keys

[2019-08-18 13:57] alexellis commented on #8
Thank you for your feature request :+1:

[2019-08-18 13:59] alexellis commented on #8
As a workaround you could generate a new key without its own password and use that with your remote host.

This is an arrow that people run into only if they have encrypted that SSH key with an additional (optional) password.

if anybody lands here and has the same request please vote this feature up with a :+1:

[2019-08-18 14:38] alexellis opened #11 "[Feature] Add version to "k3sup version" through git metadata"
[Feature] Add version to "k3sup version" through git metadata

## Expected Behaviour

The following should print a version just like [inlets.dev](https://inlets.dev/) in its [Makefile](https://github.com/alexellis/inlets/blob/master/Makefile)

[code]

## Current Behaviour

Just prints a welcome message.

## Possible Solution

Follow the approach in the [Makefile](https://github.com/alexellis/inlet

[2019-08-18 14:42] alexellis commented on #11
Here's the PR that added it to inlets for some more context: https://github.com/alexellis/inlets/pull/17/files

How it works:
* the Makefile determines the version by running the `git` CLI
* `-ldflags` passes the value into the compiler for the Go binary
* the go code exposes a package-level variable to store the value
* the go "version" command reads that data back and prints it out

Any question

[2019-08-18 15:17] angelbarrera92 commented on #11
Ill do!

[2019-08-18 15:20] #11 closed

[2019-08-18 17:49] gabrielsagnard commented on #8
👍

[2019-08-18 18:09] alexellis commented on #2
Here is an example of where the manual steps I needed for `cloudinit` can be replaced by a "local" execution instead of `ssh` to achieve the same thing.

https://github.com/openfaas-incubator/workshop-vscode/blob/master/cloudinit.txt

[2019-08-19 07:13] alexellis opened #14 "Add figlet ASCII logo"
## Description

We could make the `version` / help message look better than this:

![](https://pbs.twimg.com/media/ECUKAhaW4AALnjg?format=jpg&name=medium)

By including a figlet ASCII logo as per [faas-cli](https://github.com/openfaas/faas-cli/blob/master/commands/version.go#L159)

To generate a logo you can use the `figlet` package available on most Linux package managers and in the OpenFaaS func

[2019-08-19 08:01] alexellis commented on #14
To make this easier for people:

[code]

^ that will generate a logo.

The link I included above was to the code where it's implemented in the faas-cli -> https://github.com/openfaas/faas-cli/blob/master/commands/version.go#L159

This approach can be copied.

[2019-08-19 08:02] alexellis commented on #14
Two of examples of how it should look:

<img width="1546" alt="Screenshot 2019-08-19 at 09 01 57" src="https://user-images.githubusercontent.com/6358735/63248796-03eca480-c260-11e9-8f38-b8705bc009f3.png">
<img width="1546" alt="Screenshot 2019-08-19 at 09 01 48" src="https://user-images.githubusercontent.com/6358735/63248797-03eca480-c260-11e9-9ce0-7b4b89452e8e.png">

Show in two circumstances (on

[2019-08-19 08:18] chrisludwig commented on #8
+1

[2019-08-19 08:19] alexellis opened #15 "Help wanted: Test on Windows 10"
## Expected Behaviour

I'd like to know if `k3sup` works on Windows 10, and if not, what is needed to make that possible.

## Current Behaviour

Users can download the code and rebuild on Windows using Go to find out.

## Context

It would be good to offer a binary for the main OSes

[2019-08-19 08:34] farfeduc opened #16 "[Feature Request] Add support for Docker instead of Containerd"
## Current Behaviour
Currently there is no flag available in the install command to use Docker instead of Containerd.

## Possible Solution
Could we add an environment variable or a flag in the install command to support this feature ? Technically we might just need to add a `--docker` flag to the install command here if the user wants to use Docker: [install.go](https://github.com/alexellis/k3sup

[2019-08-19 09:36] kaihoffman commented on #8
👍

[2019-08-19 09:47] michaelkacher commented on #15
The preliminary test of go getting, building, and running on windows 10 works but did not have time to extensively test before the coffee ran out and time to get ready for work.  If there are any specific tests, etc. to run I can do it tonight.

[2019-08-19 10:45] alexellis commented on #15
Thank you @michaelkacher  :muscle:

It'd be great to get a few people to grab the code, build it and then run the install command against a cluster, followed by checking that the kubeconfig worked. Then to join another host and check that it was successful.

In other words, an e2e test using the example in the README.md file.

[2019-08-19 11:05] utsavanand2 commented on #14
I'll do! :)

[2019-08-19 11:11] alexellis commented on #14
Thank you @utsavanand2

[2019-08-19 12:02] alexellis commented on #15
1) Download Go 1.11.13 for Windows https://golang.org/dl/
2) Install Go
3) Set your GOPATH environment variable to a set path
4) Run `go get github.com/alexellis/k3sup`
5) Visit the folder in `GOPATH\src\github.com\alexellis\k3sup`
6) Try `k3sup.exe` with the instructions in the README.md file
7) Report back

[2019-08-19 13:49] alexellis commented on #15
Given feedback on [Twitter from Ganesh](https://twitter.com/vattybear/status/1163433554627432448?s=20) and from Michael, I've gone ahead and released a cross-compiled .exe for use on Windows.

https://github.com/alexellis/k3sup/releases/tag/0.2.2

It would be great to get some testing on it before closing this issue.

Alex

[2019-08-19 18:40] vattybear commented on #15
Test of cross-compiled .exe on Windows 10 Pro build 1903.
Test run against Raspberry pi on local network with a pre-installed k3s.

Steps
1) Download release as of today : https://github.com/alexellis/k3sup/releases/download/0.2.2/k3sup.exe
2) k3sup install --skip-install --ip 192.168.0.93 --user pi
Result :
Saving file to: C:\Users\Ganesh\k3sup\upstream\kubeconfig

3) Set Kubeconfig environment v

[2019-08-19 19:09] vattybear commented on #15
General requirements / some recommendations for Windows users.
In this example 192.168.0.93 references to my target raspberry pi device on which I am installing and running k3s.
Please replace my name with your own desktop username...

1) SSH
k3sup uses ssh to configure nodes and windows does not have native ssh installed.
One easy way on Windows 10 is to turn on "additional feature for openssh".

[2019-08-19 20:14] vattybear commented on #15
Mostly a clone of instructions from readme page but updated for windows specific commands.

### Environment
OS: Windows 10
Pre-requisite :
1) kubectl for windows  (download from [kubernetes.io](https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-on-windows))

2) openssh for windows (see [Microsoft documentation](https://docs.microsoft.com/en-us/windows-server/administration/ope

[2019-08-19 20:24] vattybear commented on #15
### Join some agents to your Kubernetes server
Now to get second VM setup - the infrastructure setup is the same

[code]
All this going well - you should now get a lot of text ending with something like
[code]

Set your environment variable using path from previous command if you are not continuing in same command shell

`set KUBECONFIG=C:\Users\<your_name>\k3sup\upstream\kubeconfig`

Now test wit

[2019-08-20 10:28] alexellis commented on #15
RE: `set KUBECONFIG=C:\Users\<your_name>\k3sup\upstream\kubeconfig`

Can this be: %HOMEDIR%\k3sup\` ?

[2019-08-20 19:43] #8 closed

[2019-08-20 19:47] alexellis commented on #8
Hi everyone, please try out the latest release `0.2.3` with the changes submitted by @HeavyHorst in #9. Thank you Rene 👍

[2019-08-20 19:51] alexellis commented on #16
Is that a feature in k3s, to use docker instead of containerd?

[2019-08-21 08:21] alexellis commented on #14
@utsavanand2 let me know when you have a PR ready?

[2019-08-21 08:24] utsavanand2 commented on #14
@alexellis Sure!

[2019-08-21 08:35] farfeduc commented on #16
Yes, K3S proposes during installation to use Docker instead of containerd with the `--docker` flag which is available for both the server and the agents.

Check here for more information : [Official Doc Website](https://rancher.com/docs/k3s/latest/en/installation/#server-options)

[2019-08-21 08:58] alexellis commented on #16
I would be happy to accept a patch for this 👍

Do you want to work on it?

Alex

[2019-08-21 09:00] alexellis opened #18 "Should k3d be supported for local Docker-based dev?"
k3d is mentioned in the README in as a similar tool, but with a different purpose.

k3sup installs to a VM, bare metal, ARM device etc

k3d starts a docker container

But should we offer k3d so that k3sup can become the go-to tooling for all k3s users?

[2019-08-21 10:02] farfeduc commented on #16
I do not know if I have done things properly but here is a Pull-Request : #19

[2019-08-21 18:38] tobru commented on #8
I just tested `0.2.3` using my encrypted SSH key: _It just works_! Thank you very much, great addition.

[2019-08-22 09:43] vattybear commented on #15
I don't see a pre-built environment variable as %HOMEDIR% on my desktop.
There is a %HOMEDRIVE%=C: and %HOMEPATH%=\Users\<your_name>  which combined make up the full path

So it could be

set KUBECONFIG=%HOMEDRIVE%%HOMEPATH%\k3sup\kubeconfig

it might be easier to just copy /paste from the output of the k3sup command (it gives full path)
Or maybe an enhancement is to automatically set KUBECONFIG i

[2019-08-22 12:29] billimek opened #21 "[Feature] ability to pass k3s install options"
## Expected Behaviour
As a user of k3sup,
I want to be able to specify additional k3s install options (such as `--no-deploy`, `--node-taint`, etc),
So that I can continue to leverage k3sup but have some control over the way k3s is installed or joined

## Current Behaviour
Currently k3sup only has [one hard-coded way](https://github.com/alexellis/k3sup/blob/ac059b635fafc7e03ee8eab6e8bfcb450b5ec0ac/

[2019-08-22 16:13] alexellis commented on #21
At this stage, I'm in favour of the less is more mindset and convention over configuration.

We could include all options, but I don't think that we should until each one is requested and contributed by actual users.

Which specific options do you want? I can see that `--docker` has a PR here for instance: #19

[2019-08-23 09:36] utsavanand2 opened #22 "k3sup assumes and switches to the pulled kubeconfig which has the default context"
## Expected Behaviour
The switching of contexts should be something that should be left upon the user to decide?
It should not be automatic and be changed everytime the user creates a new k3s cluster.
Your thoughts?

## Current Behaviour
As discussed [here](https://github.com/alexellis/k3sup/pull/4#discussion_r316584999) with @alexellis the latest commit assumes that the pulled config has the 'def

[2019-08-23 11:34] billimek commented on #21
Hi @alexellis, in the spirit of keeping `k3sup` simplified (which is a good idea IMO),

How about an implementation that allows for an _k3s extra options_ environment variable or additional flag to `k3sup`?  Maybe something like this:

**environment variable approach:**

[code]

In this scenario, we simply pass along whatever is populated in `$K3S_EXTRA_ARGS` to the k3s curl command

---

**extra

[2019-08-23 12:48] alexellis commented on #22
Have you got an ETA so that I can coordinate a release?

[2019-08-23 12:51] utsavanand2 commented on #22
@alexellis I can do it in an hour. Just wanted to make sure with you if we want to completely remove the context switching feature?

[2019-08-23 13:21] alexellis commented on #22
Yes to prevent surprises, then let's review it properly after.

[2019-08-28 20:01] alexellis commented on #22
/close

[2019-08-28 20:01] #22 closed

[2019-08-28 20:03] alexellis commented on #21
I am not keen on the loosely-typed approach, I think I would prefer to mirror the flags of `k3s` on a case-by-case basis.

Which do you absolutely need?

That said, I am still thinking about your suggestion.

[2019-08-28 20:04] #16 closed

[2019-08-28 20:04] #21 closed

[2019-08-28 20:05] alexellis commented on #14
/close: fixed

[2019-08-28 20:05] #14 closed

[2019-08-28 20:36] alexellis commented on #21
I've gone ahead with the merge and I've released a new binary to unblock you, but I'd like to explore the UX a bit more and think about adding strongly typed flags for the most common options like `--docker`.

You're also welcome on Slack https://slack.openfaas.io/ k3sup is discussed in #teamserverless-dev and #general

[2019-08-29 02:10] ibuildthecloud opened #26 "[Feature Request] Air Gap support"
To run k3sup I need an internet connection to run the install script and download the k3s binary. I'd like to be able to run k3sup on a secure network not connected to the internet.

I'd like to be able to point k3sup to a mirror for the install script and binary.  There is a good chance the upstream k3s install script needs to change to support this.

Optionally if k3sup could run as a webserver

[2019-08-29 08:16] alexellis commented on #26
Hi @ibuildthecloud this sounds useful for edge use within banking etc.

How much additional config is needed for k3s to run air-gapped? I assume the images that are pulled to run the control-plane would also need to be deployed to a private registry somewhere?

Alex

[2019-08-30 21:23] dhoard opened #27 "Join arguments are confusing"
k3sup join arguments are confusing. Both IPs are for servers.

Example

[code]

Both `IP` and `SERVER_IP` are both remote servers.

A better description would be something like ...

[code]

[2019-08-30 21:28] alexellis commented on #27
Thanks for your suggestion @dhoard, I'll bear it in mind.

I've deliberated used this terminology because:

1) k3s doesn't use a `master`, it uses a `server`.
2) Your variant is going to be a pain in the neck to type in, and I deliberately want the command lines to be as short as possible, whilst still making sense.

I'm just curious, other than your personal opinion (which is useful feedback), In

[2019-08-30 21:28] #27 closed

[2019-08-30 21:36] dhoard opened #28 "[Feature request] Validate that the k3s-agent started with systemd"
## Synopsis

The `k3sup join` command doesn't validate that the `k3s-agent` is running during the `join` process.

## Context

The `k3s-agent.service` file has a `Type=exec` which doesn't appear to be working correctly on Ubuntu 18.04.3 LTS (Rancher issue - not k3sup issue)

From the k3sup log output I see ...

[code]

... but the `k3s-agent` actually failed to start.

## Environment

Ubuntu 18.04

[2019-08-30 21:44] dhoard commented on #27
I was running through your blog post at (https://blog.alexellis.io/create-a-3-node-k3s-cluster-with-k3sup-digitalocean/) and it wasn't clear.

While I can understand your point of view on short commands. I feel that most users would not care, considering that this will be executed very rarely.

Adding more verbose commands that could be used along with the existing ones.

Thanks for the tool!

[2019-08-30 21:52] alexellis commented on #28
Thanks for the issue.

I'm pretty sure that everywhere I tested k3sup, I used Ubuntu 18.04.3 LTS. I'm surprised it isn't working... What cloud did you use?

As for checking if the agent started. Do you know any bash command that could do that?

[2019-08-30 22:14] dhoard commented on #28
I’m an using freshly installed VMs on my local KVM machines.

For machines with systems...

[code]

[2019-08-30 22:21] dhoard commented on #28
You could add a function `validateAgent` in `join.go` So they you could validation code.

I’m sure there are other things worth validating.

[2019-08-30 22:22] alexellis commented on #28
That tends to be blocking? Does it need a human to read it, or can it be run over SSH with an exit code being parsed?

Feel free to PoC something.

[2019-08-30 22:31] dhoard commented on #28
If you ware wanting something more pure Bash ...

[code]

... has an exit code of `0` on a match, and `1` on no match.

[2019-08-31 08:10] alexellis commented on #28
It seems a bit brittle. Is there an FD created maybe when systemd starts up a process?

Maybe you could ask upstream for a shell script to by provided by k3s, just like they provide an uninstaller.sh

[2019-09-02 10:29] vattybear commented on #15
Is there anything else required on this issue?

[2019-09-02 18:45] sourcedelica commented on #28
I got the same thing on Amazon Linux 2 following https://rancher.com/blog/2019/k3s-kubeconfig-in-seconds/

[2019-09-02 18:51] bgulla opened #30 "Error when setting --k3s-extra-args for agents"
After setting an `--k3s-extra-args='--docker'` flag in the master install, future created kubelets/ agent-nodes do not automatically inherit the flags. Additionally, passing the flag during agent creation results in an error.

## Expected Behaviour

I would assume that agents would inherit the extra args set at master creation. Even though the do no inherit the flags, setting them via the `k3sup j

[2019-09-03 16:07] Madic- opened #31 "[Feature Request] Support ssh-agent"
Instead of relying on an ssh-key also support ssh-agent for retrieving / using a private ssh key. Normaly I've no key on my hard drive. It's just loaded via ssh-agent

[2019-09-03 17:57] Madic- commented on #31
Or maybe do not require an ssh key because by default ssh tries to authenticate with the help of an ssh agent

[2019-09-08 08:24] alexellis commented on #31
I believe that we added support for this in #8 ?

[2019-09-08 08:24] alexellis commented on #31
There's an issue template for a reason, please could you edit your issue to fill it out properly?

https://raw.githubusercontent.com/alexellis/k3sup/master/.github/ISSUE_TEMPLATE.md

It will help me, to help you. :man_shrugging:

Thanks :+1:

[2019-09-08 08:26] alexellis commented on #28
There should be no error @sourcedelica if you're following the tutorial. Please can you raise a separate issue about the tutorial, then I'll ping the author to see if he can give you some technical support.

Alex

[2019-09-08 08:28] alexellis commented on #28
@dhoard does the ssh / exec return a non-zero exit code in your example, or can it only be determined through manual checking?

[2019-09-08 08:31] alexellis commented on #30
This is as designed and would not be the case since `k3sup` is not stateful.

This is not as designed :disappointed: let me ping the author of that PR.

@billimek it looks like your PR may not be working for agents, please could you provide a fix for this? @bgulla has provided instructions above.

@bgulla alternatively, if you want to send a PR to fix the join command formatting, then go ahead :-)

[2019-09-08 09:03] utsavanand2 commented on #2
derek assign: me

[2019-09-08 09:26] utsavanand2 commented on #2
@alexellis can you provide some more detail please? I'm willing to assist.
Do we want to install k3s with cloud-init?

[2019-09-08 11:52] dhoard commented on #28
@alexellis not sure... but since the systemd start is asynchronous, I suspect you can’t use exit code.

[2019-09-08 22:35] billimek commented on #30
I think I see the problem.

In the installation curl command, we do:

[code]

while in the join curl command, we do:

[code]

It's very subtle, but the `k3sExtraArgs` variable subst should happen _before_ the `sh -`.  I think I know what to change and test.  Please stand by!

[2019-09-09 12:13] saiyam1814 commented on #28
@sourcedelica I just tried again for setting up k3s using k3sup on Amazon Linux 2  using the blog and it works without giving any error. I did not do any additional step apart from what is mentioned in the blog. Please make sure you have set up the ports, running as root etc. It is very straightforward so not sure why its giving error for you. Feel free to create another issue for the same as ment

[2019-09-09 15:58] sourcedelica commented on #28
Sounds good, thanks

[2019-09-12 08:39] tcurdt opened #33 "[Documentation] Please clarify possible architecture"
From the README it sounds like I could run a k3s server on a RPi at home and then have an EC2 instance and some other VPS join as agents. Basically spanning a kubernetes cluster across multiple networks around the world. Is that what you are trying to say?

## Expected Behaviour

It would be nice if the examples could be a more explicit on the details. Especially the networking part.

## Current B

[2019-09-16 10:59] #30 closed

[2019-09-16 11:05] alexellis commented on #33
Thank you for your feedback and for using `k3sup` 😄

This is the video.

If you have a VPN, then sure, but no, it just means you can use multiple different kind of devices as targets.

If you have additional thoughts, please join Slack and `#inlets`

[2019-09-16 11:05] #33 closed

[2019-09-16 11:05] alexellis commented on #33
/msg: slack

[2019-09-16 11:10] alexellis commented on #15
Thank you all, I think it would be great to get a little tutorial together on dev.to? Would anyone be willing to write it up over the next week? I'm happy to review and see if it makes sense in the k3sup repo after that.

Alex

[2019-09-16 11:10] alexellis commented on #15
/close

[2019-09-16 11:10] #15 closed

[2019-09-16 11:10] alexellis commented on #1
/close

[2019-09-16 11:10] #1 closed

[2019-09-16 11:12] alexellis commented on #2
Hi @utsavanand2

The idea would be that cloud-init allows a user to run some arbitrary commands at start-up.

Instead of running `ssh` to a remote host, using cloudinit would run the command as a local install.

It would be like replacing the `ssh` step for a simple `exec`, when we know we're running on cloudinit and not on a laptop.

[2019-09-16 11:13] alexellis commented on #31
@Madic- would be great if you could provide everything needed in the issue template. I'll give it a week then close out the issue if I don't hear back.

Alex

[2019-09-16 11:16] utsavanand2 commented on #2
@alexellis I would like to take this on. Could you please assign me to fix this issue?

[2019-09-16 12:51] vattybear commented on #15
I don't have a blog but given I have been meaning to start one for ages, this might be a good excuse to start one on dev.to - I can write up everything here - will ping you once I have something - maybe a few days before I get time to prioritize this...

[2019-09-17 19:55] Madic- commented on #31
The ticket can be closed. Have missed the part in the readme regarding password protected ssh keys. Thank you

[2019-09-17 19:55] #31 closed

[2019-09-18 00:27] utsavanand2 commented on #2
Derek assign: me

[2019-09-18 00:30] utsavanand2 commented on #2
/assign: utsavanand2

[2019-09-18 13:26] tcurdt commented on #33
Would you be open to a PR for the README?
Thanks for the slack link. See you there!

[2019-09-20 17:59] OmegaSquad82 opened #34 "[Feature] Different SSH options for Server and Node on Join command"
## Expected Behaviour
I've got systems in which the usernames of where K3S has been set up with on the Server and where it should be set up with on the node differ from each other.

## Current Behaviour
Both username and SSH port are the same for server to join and the joining node.

## Possible Solution
Implement optional flags to set up the SSH connection for the server differently. Create Flags

[2019-09-23 16:19] gilsim opened #37 "Certificate problem after installing k3s on AWS with k3sup"
I'm having a problem after installing k3s on AWS using k3sup, any kubectl gets "Failed to connect to proxy error=x509: certificate signed by unknown authority".
 The k3s on the server works fine, including the cluster with multiple nodes, as I can see by ssh to the server, but local kubectl with the kubeconfig file gets the above result.
I think that this problem is new, as I did the same procedur

[2019-09-25 09:07] gilsim commented on #37
I found the problem, I didn't change the IP address in the downloaded kubeconfig (as Alex pointed out a few times in the video) to point to my remote host instead of the 127.0.0.1 localhost and I was trying to connect to a local k3s.

[2019-09-25 09:07] #37 closed

[2019-09-25 20:17] alexellis commented on #37
Hmm.. what system did you run k3sup on? The IP is changed automatically via the `--ip` flag during `k3sup install`

[2019-09-25 20:17] alexellis commented on #37
/msg: slack

[2019-10-01 10:45] blackjid opened #39 "Add support to change context name on kubeconfig"
I would love to be able to define the name of the context created in the `kubeconfig` file.

I have something already working, but in the PR template says that I should open an issue first to comment and discuss the functionality.

## Current Behaviour
Today the generated `kubeconfig` file looks like this

[code]

## Possible Solution
I would love to be able to define something different to `defau

[2019-10-01 12:17] alexellis commented on #39
Do you have any solution in mind for this?

I'd be open to contributions. Cc @ibuildthecloud

[2019-10-01 12:42] blackjid commented on #39
Yes, the solution I have already implemented, is super simple.

I have a new string flag `--config-name` that defaults to `default`

In the same place where k3sup is already replacing `localhost` for the actual `ip` of the cluster, I'm replacing all `default` intances by whatever is passed to `config-name` unless it is `default`.

I can see that using default comes from k3s https://github.com/ranc

[2019-10-01 12:44] alexellis commented on #39
I would prefer `--context` and for this to be defaulted to `default` in the flag.

Happy for you to send a PR along the lines stated and a unit test.

https://blog.alexellis.io/golang-writing-unit-tests/

[2019-10-01 13:37] blackjid commented on #39
Sounds good.. I thought of using `--context` but inside the `kubeconfig` there is more stuff using that name besides `context` (`cluster`, `user`) That's why I propose `--config-name`, I think is more correct.

But I think is better `--context` because that is what you really use in the command line..

[2019-10-01 20:22] bobanbojkovski opened #41 "Fetch latest k3s version as default version"
## Expected Behaviour
In case k3s version is not defined in k3sup install cmd, fetch latest version without manually updating the config.go content or specifying k3s-version.

## Current Behaviour
Default k3s version is defined in config.go file.
[code]

## Possible Solution
config.go
[code]

update install.go
[code]

update join.go
[code]

## Context
Using lastest k3s version as default, in case

[2019-10-01 20:46] alexellis commented on #41
/close

[2019-10-01 20:46] #41 closed

[2019-10-01 20:48] alexellis commented on #41
Hi thank you for your suggestion.

Version pinning was introduced deliberately, I would imagine passing an empty string to the flag may do what you're requesting.

In the meantime, the version of k3s we had to hold back has been fixed upstream, so feel free to send a PR to upgrade the version to whatever is stable. Alex

[2019-10-01 20:49] alexellis commented on #41
See also: https://github.com/alexellis/k3sup/commit/7d954414def98c52ae1f6de08ac5317e4260e673

[2019-10-07 20:17] alexellis opened #42 "Update pinned k3s version when upstream is fixed"
Update pinned k3s version when upstream is fixed

https://github.com/rancher/k3s/issues/828

[2019-10-08 08:23] gosuri opened #43 "Server address in kubeconfig is set to 127.0.0.1 for k3s 0.9.0"
Unable to access server for k3s 0.9.0  since it uses 127.0.0.1 instead of localhost in the server address

## Expected Behaviour
The server address should be remote ip, sending a PR

## Current Behaviour
The server address is 127.0.0.1

## Possible Solution
Replace `127.0.0.1` in addition to `localhost' for server address

## Steps to Reproduce (for bugs)
1. `k3su install --ip  139.178.69.85  --k3

[2019-10-08 08:57] #43 closed

[2019-10-10 20:41] #39 closed

[2019-10-11 14:54] jonatasbaldin opened #46 "Following the installation scripts fails"
## Expected Behaviour
Copy and paste the commands from the Installation instructions in `README.md` would work.

## Current Behaviour
The first line from the installation instructions gives me the `k3sup-$arch` binary and correct instructions:
[code]

But the second command in the instructions fails, because the binary name is different:
[code]

## Possible Solution
1. Remove second line of instal

[2019-10-11 15:42] alexellis commented on #46
You should type in this though? `sudo cp k3sup-darwin /usr/local/bin/k3sup`

[2019-10-11 15:42] alexellis commented on #46
Worked for me

[code]

[2019-10-11 15:52] jonatasbaldin commented on #46
Yeah, if I follow the instructions it work, but if I just copy and paste the instructions from the README.md, it doesn't:

[code]

[2019-10-11 17:08] alexellis commented on #46
This is the normal way to download with the suffix still in-tact, but if you want, we could change it. I'd accept a PR

[2019-10-11 17:09] alexellis commented on #46
The point was to show one example of how to install, the example in the README is for Linux where there is no suffix, you're using Darwin, so you need to follow the output instead :-)

[2019-10-11 17:56] jonatasbaldin commented on #46
I can make a PR, I have three ideas (in the order that I most like them):

1. Remove second line from README.md and add `sudo` before the first line, will always work
2. Remove second line from README.md, let the user read the instructions
3. Change the `get.sh` script to download the file as `k3sup` instead of `k3sup-$suffix`

What do u think?

[2019-10-15 15:11] alexellis opened #48 "Add cert-manager app"
## Expected Behaviour

Add cert-manager app

[code]

## Current Behaviour

Unavailable via k3sup

## Possible Solution

Copy approach from https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/install-cert-manager.sh

And codify in Golang as per `openfaas_app.go`

[2019-10-15 19:34] utsavanand2 commented on #48
I'll take this up

[2019-10-15 20:54] alexellis commented on #48
Thanks

[2019-10-16 17:45] jonatasbaldin opened #49 "[Feature request] Add app for Docker registry"
## Expected Behaviour
Add the docker registry by:
[code]

In the end show information on how to port-forward your localhost to the registry port.

## Current Behaviour
Unavailable.

## Context
When developing locally for OpenFaaS, having a local registry in K8S is faster than pushing images to Docker Hub.

[2019-10-16 17:54] alexellis commented on #49
How are you thinking about configuring TLS or not configuring it? by default docker won't push to an insecure-registry and neither will Kubernetes.

[2019-10-17 00:24] jonatasbaldin commented on #49
Maybe using something like this? https://github.com/SeldonIO/k8s-local-docker-registry/

Used this scripts today to get running and it worked like a charrrrm

[2019-10-17 01:40] blaise-sumo commented on #49
Wonderful!

On Wed, Oct 16, 2019, 5:24 PM Jonatas Baldin <notifications@github.com>
wrote:

[2019-10-17 17:00] blaise-sumo commented on #2
I wonder if this would help me because when I try to join my home server to
my K3s cluster on DO, all I get back from k3sup is the server token.
I thought it might be because the name of my admin account and ssh key is
different but I tried all the permutations.

When I don't have the correct K3s server creds, I get an error message
immediately.
When I use the correct K3s creds, I eventually get a

[2019-10-19 21:34] alexellis commented on #42
/close

[2019-10-19 21:34] #42 closed

[2019-10-19 21:35] alexellis commented on #2
If you want to connect RPi + a host on the Internet, that's a different matter, you'll need to create a VPN for it.

This issue is about running k3sup locally instead of via ssh.

[2019-10-19 21:36] alexellis commented on #48
Happy for someone to send a PR earlier if @utsavanand2 is busy

[2019-10-20 10:30] utsavanand2 commented on #48
**Need Help** with PR is [#52](https://github.com/alexellis/k3sup/pull/52)

[2019-10-20 18:47] #48 closed

[2019-10-20 18:47] alexellis commented on #48
Released 🎉

[2019-10-20 18:48] #46 closed

[2019-10-20 18:48] alexellis commented on #46
I think 3. sounds fine, if you'd like to implement it.

[2019-10-20 18:48] alexellis commented on #46
/set title: UX refinements

[2019-10-20 18:49] alexellis commented on #49
That doesn't explain how you intend to bypass the TLS issues.

Can you elaborate? Note we cannot assume access to the Docker daemon or Kubelet configuration

[2019-10-20 18:50] alexellis commented on #34
If you'd like to add an optional `--server-user` flag to `join` I'm fine with that 👍

[2019-10-20 19:31] verrol opened #54 "K3sup hung during installation on Raspberry Pi A+"
During installation of k3s on my Raspberry Pi A+ board, k3sup seems to be hung after staring k3s.  At first it seemed to be working, as it got to the starting k3s message soon after issuing the command, but then it was hung there for about an hour before I killed it.

## Expected Behaviour
I ran the following command on my Mac:

[code]

## Current Behaviour

Public IP: 10.10.100.183
ssh -i /Users/

[2019-10-20 21:22] #54 closed

[2019-10-20 21:23] alexellis commented on #54
AFAIK only RPi2, 3 and 4 are supported by k3s, certainly I don't test with anything else.

You could try the Rancher support forums perhaps?

[2019-10-21 14:49] alexellis opened #55 "App: Add Nginx Ingress app with two modes"
Add Nginx app with two modes

## Expected Behaviour

Adding Nginx Ingress in host mode or LB mode (default) would be great.

## Possible Solution

See: https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/install-nginx.sh

[2019-10-21 14:50] alexellis opened #56 "App: Add Minio"
## Expected Behaviour

Add Minio as an app with a default flag not to use persistent storage.

Generate the secret/access key or allow them via flag too.

Example command: https://github.com/alexellis/k3sup/blob/master/pkg/cmd/openfaas_app.go

## Possible Solution

Replicate approach from: https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/install-minio.sh

[2019-10-21 14:52] alexellis opened #57 "App: openfaas-ingress"
## Expected Behaviour

An app called `openfaas-ingress` should create an ingress record and an issuer.

The inputs are:

* domain name
* email address

i.e. `k3sup app install openfaas-ingress --domain openfaas.example.com --email web@example.com`

Use cert-manager 0.11 as per the chart app.

## Additional:

[code]

[2019-10-21 14:54] alexellis commented on #57
For templating, I'd suggest keeping the text in the source code using a code-block and a Go template.

Like this, but from a buffer instead of from a file: https://github.com/openfaas/openfaas-cloud/blob/master/dashboard/overview/handler.go#L22

A unit test will also be required to verify the correct output is being generated.

[2019-10-21 19:29] LeDominik opened #58 "CLI install script check for user of k3sup on OS X"
On OS X `/usr/local/bin/` is very often owned by the single user a MBP typically has, this has been the homebrew default for ages. So this is a _comfort_ feature...

## Expected Behaviour
When running `curl -sLS https://get.k3sup.dev | sh` it presents

[code]

Given that `/usr/local/bin/k3sup` is _owned by me_ (the active user) I actually expect this overwrite to happen.

## Current Behaviour

Ove

[2019-10-22 17:22] jonatasbaldin commented on #46
Went with `3` :D

[2019-10-22 18:21] jonatasbaldin commented on #49
🤔

Since I'm testing with Docker for Desktop, it worked because it probably uses my local docker daemon. Tried with GCP, couldn't make it work :(

But this would be something nice to have, working with OpenFaaS and being able to use local images would speedup a lot!

[2019-10-22 20:12] #58 closed

[2019-10-23 08:14] Waterdrips commented on #57
@alexellis Im taking a look at this.

[2019-10-23 08:36] alexellis commented on #57
Thanks

[2019-10-23 09:41] Patazerty opened #62 "[Feature] app for tiller"
Wouldn't it be nice to be able to setup helm using k3sup ? I've implemented a helm subcommand to deploy tiller and opened this issue to discuss the idea before a potential pull request (https://github.com/Patazerty/k3sup/tree/feat_helm).

## Expected Behaviour
A k3sup `helm2` subcommand to manage helmv2. Tillerless helm3 is coming, but is not yet out of beta and helmv2 is still widely used. Differ

[2019-10-23 10:40] kscarlett opened #63 "SSH Error - handshake failed"
I tried adding a server today with the following command and the resulting output:

[code]

The strange thing is that when I copy-paste the SSH command it prints, it logs me in just fine. Of note is that when I SSH into the server, it takes ~5 seconds, while k3sup fails **immediately**.

## Expected Behaviour

Successful SSH authentication, just as I get manually.

## Current Behaviour

Near-immed

[2019-10-23 11:02] kscarlett commented on #63
It seems like it was fixed by removing the user and letting it use root instead. This puzzles me as it worked correctly with the user for me.

[2019-10-25 04:37] sandys opened #64 "Feature request"
support in ingress for multiple domains+custom ssl certs and domain -> pod rules

Hi,
I'm bringing over this issue from the k3s repo - https://github.com/rancher/k3s/issues/868
k3sup has become our primary way to create k3s clusters and im hoping this is the right place to fix it.
FYI, there are multiple people with similar issues - https://github.com/rancher/k3s/issues/795

Basically it boils dow

[2019-10-25 08:57] alexellis commented on #64
Hi @sandys thanks for your interest in k3sup.

Please can you clearly list the requirements you have in bullets?

[2019-10-25 09:00] alexellis commented on #34
@OmegaSquad82

[2019-10-25 10:20] sandys commented on #64
@alexellis thanks for replying.
The itemized request is straightforward, but it is super-hard to configure and setup for most people. Check this out as well -https://github.com/rancher/k3s/issues/117 and https://github.com/rancher/k3s/issues/436

Give k3sup commandline options for
- Adding ssl certificates to the ingress ( there are some "voodoo" aspects here - https://github.com/rancher/k3s/issue

[2019-10-25 11:25] #57 closed

[2019-10-25 13:10] martindekov opened #66 "Remove sudo when installing as root"
If I run the k3sup with photons OS trimmed version https://github.com/vmware/photon/wiki/Downloading-Photon-OS. In the OVA with 120 mb `sudo` does not exist as command so the installation fails.

## Expected Behaviour

When the user with which you ssh is root, skip sudo.

## Current Behaviour

`sudo` is ran no matter the user name(even when `root`).

## Possible Solution

I think that you might re

[2019-10-25 13:58] alexellis commented on #66
You will need to say which command fails. What exactly are you running to get an error?

[2019-10-25 14:08] martindekov commented on #66
https://github.com/alexellis/k3sup/blob/fe942b8d66155732c611c6e745fea938d0f1c8b7/pkg/cmd/install.go#L106

I fixed it for myself(removed `sudo`), but in case someone stumbles upon it I think it can be fixed in some way.

[2019-10-25 15:33] alexellis commented on #66
OK that helps a lot, because it sounded like you were struggling with the bash script, to which I would have said, customise what you type in.

How are we going to succinctly execute commands on a remote VM which doesn't have `sudo`? Let me know what ideas you have.

[2019-10-27 08:03] martindekov commented on #66
If we are logged in as the super user account I think we would be executing commands as if we were using sudo.

If that is the case, then we can add flag to commands which use sudo binary like --root, pointing that the account is the superuser account.

[2019-10-27 08:41] alexellis commented on #66
Do you use `--user root`?

[2019-10-27 08:41] alexellis commented on #66
Do you use `--user root`?

[2019-10-27 08:42] alexellis commented on #66
What if we added `--sudo=false` for your scenario?

[2019-10-27 08:51] alexellis commented on #55
For running without an LB: https://github.com/openfaas-incubator/ofc-bootstrap/blob/2b2ba7030860b6bf481f4ad5980dd08a6f27879c/main.go#L374

[2019-10-27 09:11] Waterdrips commented on #55
Derek assign: me

[2019-10-27 11:11] Hades32 commented on #66
In my scenario the Ubuntu doesn't have `sudo` installed, so wither apt-get'ing it or as you suggest `--sudo=false` would solve that case.

[2019-10-27 11:44] alexellis commented on #66
Happy to accept a PR for this.

[2019-10-27 13:26] beriberikix opened #69 "[Feature Request] Knative app"
I've been experimenting with [Knative](https://knative.dev/) recently and setup is a pain. It would be very convenient to have an `app` to install Istio + Knative. Details on a custom install can be found [here](https://knative.dev/docs/install/knative-custom-install/).

## Expected Behaviour
`k3sup app install knative`

[2019-10-27 20:06] alexellis commented on #63
Glad you found a way around it. I wonder why it took 5 seconds to log in via SSH?

[2019-10-28 08:19] alexellis commented on #66
https://github.com/alexellis/k3sup/releases/tag/0.5.2

[2019-10-28 08:19] alexellis commented on #66
@martindekov ☝️

Thanks @Hades32

[2019-10-28 10:20] jeka opened #71 "Not all arguments are passed to the metrics-server"
The snippet:
[code]
Renders to:
[code]
Which is not what do you intend I guess.

Also little off-topic but what's the point of having --namespace parameter if you don't allow anything but 'default'?

K3sup Version: 0.5.2
Git Commit: 9193ccf155653f9e3809c559f6b9d099813b8f45

[2019-10-28 10:29] alexellis commented on #71
See the following upstream issue: https://github.com/helm/charts/issues/17909 🤷‍♂

The chart is working anyway from what I can see.

Interesting that the ExternalIP/Hostname parameters are not being picked up. If you have a suggestion or want to send a PR, your contribution would be welcomed.

[2019-10-28 10:30] #66 closed

[2019-10-28 10:33] alexellis opened #72 "[App request] Add Linkerd"
## Expected Behaviour

[code]

## Possible Solution

Use the OpenFaaS app as an example and install via:

https://linkerd.io/2/tasks/install-helm/

https://github.com/alexellis/k3sup/blob/master/pkg/cmd/openfaas_app.go
https://github.com/alexellis/k3sup/blob/master/pkg/cmd/apps.go

[2019-10-28 10:44] Patazerty commented on #62
I agree that a `k3sup helm` command that would invoke the helm binary does not make much sense. My idea of a `helm` subcommand was to provide functionality that is not provided by the helm client directly (e.g. installing tiller and its related task such as creating namespaces, roles, etc.). Should I instead implement the feature as a k3sup app named tiller ?

[2019-10-28 10:46] alexellis commented on #62
Can you work on a proof of concept in your own branch and then send a link here?

[2019-10-28 11:50] jeka commented on #71
It's no wonder that parameters are not picked up correctly. That's how helm's --set works.

The proper way (according to https://helm.sh/docs/using_helm/#the-format-and-limitations-of-set) of passing these parameters should be:
[code]
(escaping commas in **value** with backslash)

[2019-10-28 12:16] alexellis commented on #71
PRs are welcome. Would you like to take it?

[2019-10-28 13:44] jeka commented on #71
I have almost zero experience with Go. I am even unable to build a freshly cloned repo. I am getting some errors which mean nothing to me. For example:
[code]
So if you want untested PR I can do it as it is just one line change. But usually, I like to test changes before submitting patches/PRs

[2019-10-28 13:52] alexellis commented on #71
The errors are because you are not familiar with how to develop with Go.

You should clone into the GOPATH of the upstream project you've forked, so

[code]

[2019-10-28 14:34] martindekov commented on #66
Thank you @Hades32 👍

[2019-10-28 15:19] phumberdroz commented on #72
I will work on this one. :)

[2019-10-28 15:35] grampelberg commented on #72
@cpretzer mind helping @phumberdroz with some pointers?

[2019-10-28 15:41] cpretzer commented on #72
Yep! I chatted with @alexellis about this over the weekend. @phumberdroz we'll keep track of the progress in this issue.

Have you joined the community on https://slack.linkerd.io? We can collaborate there, as well

[2019-10-28 17:26] jeka commented on #71
OK, I opened #73. I hope I managed to do it right.

By the way, the way this app is installed is really broken. It does not get installed in "default" namespace. It's installed in the namespace set by the current context. And of course, it doesn't work if the current namespace is not the "default" namespace.

[2019-10-28 18:04] alexellis commented on #71
Feel free to send a PR, if you don't agree with the way it works. I mentioned above that the upstream chart has issues and cannot be configured to install to a particular namespace.

[2019-10-28 20:25] alexellis commented on #72
@phumberdroz what kind of timeline do you have in mind?

[2019-10-28 21:14] alexellis commented on #62
Check out the changes in this release: https://github.com/alexellis/k3sup/releases/tag/0.5.4

[2019-10-29 09:29] phumberdroz commented on #72
I hope that I will have it running by the end of the week. I took a brief look at it yesterday evening.

[2019-10-29 09:30] jeka commented on #71
Yes, I read the issue with the upstream chart but still in the current form of installation this app is almost unusable.
On the other hand, I am wondering why do you take this route of installing apps (helm charts)? It's complex, not flexible, does not scale well and does not make it easy to contribute apps.
Why don't you use k3s inbuild support of helm charts? This way all you need is one YAML fi

[2019-10-29 15:01] alexellis commented on #62
[code]

You can also use `k3sup app install tiller` if you want to get tiller fast including the service account, for following the OpenFaaS or some other docs.

[2019-10-29 15:01] #62 closed

[2019-10-30 09:30] Patazerty opened #75 "Question on how to handle kubectl non-zero exit codes"
`kubectlTask()` does not check exit code, causing in some scenarios failed kubectl commands to be treated as successful but silently failing.

## Expected Behaviour
If a kubectl commands fails, kubectlTask should return an error. If the error from kubectlTask is checked, this should stop k3sup in its task.

## Current Behaviour
If a kubectl command fails with an non-zero exit code, k3sup will cont

[2019-10-30 11:27] e-minguez opened #76 "k3sup doesn't work ootb in Fedora 31"
## Expected Behaviour
Download k3sup and run it against a Fedora 31 box

## Current Behaviour
It requires to install `policycoreutils-python-utils` package (which is not installed by default in the cloud image) to manage selinux stuff. I've installed the package and tried again. This time:

[code]

Running the k3s binary manually:

[code]

## Possible Solution
I think this is probably because Fedo

[2019-10-30 12:16] alexellis commented on #76
Thanks for your interest in the project. I think your report would be best placed upstream on the k3s project. K3sup only wraps the script provided by Rancher.

https://github.com/rancher/k3s/issues

Let me know how you get on and I will close this issue for now

[2019-10-30 12:16] #76 closed

[2019-10-30 12:17] alexellis commented on #75
/set title: Question on how to handle kubectl non-zero exit codes

[2019-10-30 12:20] alexellis commented on #75
Which specific app are you having problems with?

[2019-10-30 12:35] Patazerty commented on #75
I encountered this issue while testing the tiller install, but this happens with any kubectl command that creates something: if installing apps such as openfaas twice by mistake, the `create secret` command will fail silently for example.

[2019-10-30 17:24] jeka opened #77 "Feature request: force namespace for the metrics-server to kube-system"
The way the apps are installed with k3sup (rendering helm chart templates and then applying these rendered templates with kubectl) does not work with the metrics-server chart.
The problem is that it contains resources that specify a namespace (in the form {{ .Release.Namespace }} ), some which do not, and even some that must be applied to "kube-system" namespace.
When applying rendered templates w

[2019-10-31 17:57] sokoow opened #79 "[feature]sudo on user support?"
Hey Alex,

Great work as usually, really impressive project :) What about adding sudoed user to bootstrap options ? Currently only root can install k3sup..

[2019-10-31 18:16] alexellis commented on #79
Thank you that's really kind.

Please could you go back and fill out the whole issue template along with any errors you are seeing and how we can reproduce this?

[2019-11-01 09:31] alexellis commented on #72
I was expecting this to be 5-10 mins copy/paste and a PR. Is this still something you want to pick up @phumberdroz or should we find someone else to take it on?

[2019-11-01 11:03] phumberdroz commented on #72
As I wrote above that I had planned to do it til the end of the week .. I have visitors from out of town til tomorrow morning and will then work on it.

[2019-11-01 15:35] jwalton opened #81 "[Feature Request] Write config to ~/.kube/config"
## Expected Behaviour

k3sup should add a new context to ~/.kube/config.

## Current Behaviour

k3sup writes a brand new kubeconfig file.

## Possible Solution

Basically what I'd like to see happen is, pass a CLI option like `--save-default-config --context foo` which would get k3sup to run the equivalent of:

[code]

(Or, just write the equivalent changes directly to ~/.kube/config.)

## Context

[2019-11-01 16:06] jwalton commented on #81
A slightly hacky workaround to get this behavior:

[code]

This is a little "unsafe" though, in that if you already have a cluster/context/user named "foo", you'll end up overwriting it.

[2019-11-01 21:25] alexellis opened #83 "Testing for k3s v0.10.1"
## Description

k3s has release v0.10.1 out, if the community want to test it on `x86_64`, `armhf`, and `arm64`, then maybe we could bump the default version up?

This version also moves to to Kubernetes v1.16.2

https://github.com/rancher/k3s/releases

[2019-11-03 19:16] #77 closed

[2019-11-04 09:50] Patazerty commented on #75
Beyond my own use cases, I think have a `kubectktask()` and a `kubectltaskcanfail()` or setting some sort of explicit "ignore command failure" flag would be useful. In some scenarios commands can fail without impact (e.g. re-installing an app), but if anything else goes wrong (network error, bad KUBECONFIG file, etc.) k3sup will basically tell the user 'everything is fine' or some unrelated errors

[2019-11-04 22:29] Waterdrips commented on #55
done on #85

[2019-11-04 22:30] Waterdrips commented on #55
/close

[2019-11-04 22:30] #55 closed

[2019-11-06 12:02] alexellis opened #88 "Convert "inlets-operator" app to use the new helm chart"
## Expected Behaviour

Convert "inlets-operator" app to use the new helm chart from https://github.com/inlets/inlets-operator/tree/master/chart/inlets-operator

It should also accept the `--provider` flag and anything else that is strictly essential to work with the various providers given.

## Current Behaviour

Hard-coded to DigitalOcean using static YAML manifest files

## Possible Solution

Mi

[2019-11-06 17:09] e-minguez opened #89 "k3s only works with iptables-legacy"
## Expected Behaviour
After deploying k3s with k3sup the networking should be working

## Current Behaviour
It seems `iptables-legacy` is required in Debian Buster at least.

* https://github.com/rancher/k3s/issues/703#issuecomment-522355829
* https://github.com/kubernetes/kubernetes/issues/71305

## Possible Solution
k3sup should verify the OS and the iptables version and switch to the legacy ver

[2019-11-06 17:40] utsavanand2 commented on #88
Derek assign: me

[2019-11-06 17:49] utsavanand2 commented on #81
@jwalton k3sup already has an option to merge the new kubeconfig to an existing one. Do you want to add an extra option to define the context for the new kubeconfig?

[2019-11-06 17:50] alexellis commented on #89
I'm going to close this issue and ask you to file it upstream on the https://github.com/rancher/k3s repo.

K3sup is only a wrapper for the k3s' installer script.

Perhaps we can add a note here in the README for RPi users?

[2019-11-06 17:50] #89 closed

[2019-11-06 18:21] jwalton commented on #81
Really?  What is this option?

I saw this in the docs:

And I assumed if I did something like:

[code]

that this would merge write the config "into" ~/.kube/config (like the docs say), as opposed to "overtop of", but this doesn't work.  It overwrites my ~/.kube/config and all my old configs are gone.  None of the other options listed in the README.md seem relevant.

[2019-11-06 18:24] utsavanand2 commented on #81
If you run --local-path pointing to the existing kubeconfig with the
--merge flag it will merge the two kubeconfigs instead of overwriting it.
Run k3sup install --help to see the merge option

On Wed, Nov 6, 2019, 11:51 PM Jason Walton <notifications@github.com> wrote:

[2019-11-06 18:26] jwalton commented on #81
Ah!  Thanks!  Should maybe add this to the README.  :)

[2019-11-06 18:26] #81 closed

[2019-11-06 18:51] alexellis commented on #81
Whilst the README cannot be an exhaustive list of every option available, reasonable PRs are welcome and help is available with each command via `k3sup command --help`.

Thanks @utsavanand2

[2019-11-06 19:52] e-minguez commented on #89
While I agree the main issue is k3s, k3sup is supposed to make k3s installation easy hence k3sup should be able to identify the problem and provide a workaround.
I agree the first step can be a note in the README.

[2019-11-07 21:19] OmegaSquad82 commented on #34
Has been implemented. Thank you @simoncas for your help and @alexellis for accepting the issue. ;c)

[2019-11-07 21:19] #34 closed

[2019-11-07 21:56] alexellis commented on #34
No problems. Enjoy the project!

[2019-11-09 12:03] alexellis opened #93 "[Feature] Add HA masters with k3s and dqlite"
## Expected Behaviour

@ibuildthecloud is adding HA master support with dqlite over at -> https://github.com/rancher/k3s/pull/1034

## Current Behaviour

Not yet available in k3s or k3sup

## Possible Solution

We should add support for the new flags in `k3sup install/join` so that we're ready for the first rc release.

Darren gives examples on the PR ->

[code]

[2019-11-09 13:29] jayturchi opened #94 "Pod on remote worker could not resolve hostnames"
With a fresh installation of k3s, one master and one worker, dns works only on master node.

To try it, I run a pod on each node and trying to ping google.com:

1. kubectl run -it --rm --restart=Never alpine_one --image=busybox sh
2. ping google.com

## Expected Behaviour
On both pods ( one scheduled on master and one on worker ):
/ # ping google.com
PING google.com (172.217.18.206): 56 data bytes

[2019-11-09 14:06] alexellis commented on #94
Please can you move this issue to the https://github.com/rancher/k3s repo?

[2019-11-09 14:06] #94 closed

[2019-11-10 09:29] orlangure opened #95 "Running --merge after re-installing k3s gave a certificate error"
After reinstalling k3s in a cluster, and trying to connect to it again with k3sup (with or without `--skip-install`), there is a certificate issue, and all commands fail.

## Expected Behaviour
Reinstalling k3s using k3sup will handle updating certificates, and `kubectl` will be configured to use the cluster.

## Current Behaviour
[code]
The above command completes successfully, but any `kubectl`

[2019-11-10 09:35] alexellis commented on #95
/msg: k3s

[2019-11-10 09:47] alexellis commented on #95
Did you reboot after `k3s-uninstall.sh`?

What happens if you *do not merge*, but output to a separate file?

[2019-11-10 09:49] alexellis commented on #95
Given separate discussion on Slack, I'll re-open. This does seem like an edge-case, but happy to look into it further if you can provide more information.

[2019-11-13 11:12] alexellis opened #98 "Add --ingress-class to "openfaas-ingress" - "app""
## Expected Behaviour

Better support for Traefik

## Current Behaviour

When I use Traefik I have to edit the generated files manually after applying them.

## Possible Solution

* Add flag
* Update template to use flag
* Have default for `nginx`

[2019-11-13 11:13] alexellis commented on #98
https://github.com/alexellis/k3sup/blob/master/pkg/cmd/openfaas_ingress_app.go

[2019-11-13 11:30] alexellis commented on #98
/remove label: size/m

[2019-11-16 14:36] haraldkoch opened #99 "Error when using ed25519 key"
k3sup install tries to load my SSH key at ~/.ssh/id_rsa but I do not have an RSA key (I only use ed25519 these days):

    $ k3sup --ip 192.168.100.10 --user chk install docker
    Public IP: 192.168.100.10
    ssh -i /home/chk/.ssh/id_rsa chk@192.168.100.10
    Error: unable to load the ssh key with path "/home/chk/.ssh/id_rsa": open /home/chk/.ssh/id_rsa: no such file or directory

## Expected B

[2019-11-16 14:46] haraldkoch opened #100 "error when sudo requires a password"
k3sup appears to require root access or passwordless sudo.

## Expected Behaviour

Either the documentation should contain a note that passwordless sudo is required when using a non-root user for SSH, or the software should allow the user to enter a sudo password. This could be done on the command line (like ansible) or by using "ssh -t" to create a proper terminal so that sudo can prompt the user

[2019-11-17 05:14] genebean commented on #99
I have a similar problem: my ssh private key exists solely on my Yubikey so there is no id file I can use... I rely on the ssh-agent.

[2019-11-17 17:12] aledbf opened #102 "Remove default backend deployment from ingress-nginx"
## Expected Behaviour

Using an external default backed service is unnecessary.
Since 0.21 ingress-nginx returns the same output (404) without external dependencies.

The proposed change is in PR https://github.com/alexellis/k3sup/pull/101

[2019-11-17 17:24] aledbf opened #103 "Add support for arm and arm64 in ingress-nginx app"
Support for ARM and ARM64 is available since 0.25.0. The only caveat is the lack of multi-arch images (https://github.com/kubernetes/ingress-nginx/pull/4271), something that requires to change the deployment image after the installation of the ingress controller.

[2019-11-18 01:28] alexellis commented on #99
Thanks for your interest in the project.

What possible solution would you both like to see?

[2019-11-18 01:34] haraldkoch commented on #99
I believe the correct fix is to remove the `-i $HOME/.ssh/id_rsa` argument from the ssh command when k3sup runs it, unless the user explicitly sets an SSH keyfile with the `--ssh-key` option.

[2019-11-18 01:35] genebean commented on #99
Looking at your ssh library, I think this is what should be the default https://godoc.org/golang.org/x/crypto/ssh/agent

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-18 01:45] alexellis commented on #99
@haraldkoch what if we did the opposite? The minority (sorry :-)) of users who don't use RSA can provide a flag?

[2019-11-18 01:47] genebean commented on #99
Works for me :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-18 01:57] aledbf commented on #102
Closing (#101 was merged)

[2019-11-18 01:57] #102 closed

[2019-11-18 02:16] haraldkoch commented on #99
There are other scenarios where specifying a key file will fail; for example, when your ssh keys are stored on your laptop, but you're logged into a remote server using SSH agent forwarding and running k3sup from there.

I guess I didn't express this clearly before, but: the SSH client program will, by default, look for and try ssh keys with standard names in your $HOME/.ssh folder; the default, a

[2019-11-18 02:43] genebean commented on #99
Good point on running remotely via agent forwarding and also about the defaults.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-19 03:30] colek42 commented on #93
Thinking an interface such as ```k3sup install --ip=192.168.0.100 --ip=192.168.0.101 --ip=192.168.0.102 --user=root``` will work.  Also need to change the generated kubeconfig, thinking that will separate this into two prs with the first only adding support at initialization.

[2019-11-19 07:12] xiaods commented on #26
i suggest provide some config to install airgap image through ssh way.

[2019-11-19 14:58] onedr0p opened #106 "Reset / Teardown"
Having a command to reset all the hosts to reinstall k3s would be nice, maybe a `--reset` flag would be cool to wipe and reset the node.

[2019-11-19 15:11] alexellis commented on #106
Walk me through your use case? What is it that you're trying to achieve and how could k3sup help with that?

[2019-11-19 16:19] onedr0p commented on #106
I am rapidly testing setting up and destroying k3s, and to reset my k3s nodes I currently wipe my sd card on my PI and reflash the OS. It would be nice to instead have ks3up reset my nodes, maybe a k3sdown tool ha.

[2019-11-20 11:06] cbrachem commented on #63
This is an error in `pkg/cmd/join.go`. [Around Line 81 it says](https://github.com/alexellis/k3sup/blob/master/pkg/cmd/join.go#L80):
[code]

The variable `user` should be `serverUser`:

[code]

[2019-11-21 06:15] alexellis commented on #93
I wondered about `k3sup install` then `k3sup join` with a flag - or `k3sup install` for each server plus a flag?

[2019-11-21 15:13] alexellis opened #107 "Offer helm3 for "k3sup app install""
## Expected Behaviour

Now that helm 3 is GA and projects are converting / updating their charts, it'd be great to offer it as a flag, or switch over to it where it makes sense instead of `helm template / kubectl apply`

## Current Behaviour

Helm 2 is used, but tiller is bypassed via `helm untar / helm template`

## Possible Solution

Either update a flag to pass in `--helm-ver` or see if one of

[2019-11-21 15:39] alexellis opened #108 "Add app for kube-state-metrics"
## Expected Behaviour

`k3sup app install kube-state-metrics` then profiting from some insightful metrics.

## Current Behaviour

Could use `k3sup app install chart`, but a specific app would be more discoverable

## Possible Solution

Use chart from: https://github.com/kubernetes/kube-state-metrics

[2019-11-21 15:40] alexellis commented on #108
@lucasroesler @Waterdrips @LiliC would either of you be interested in taking this?

The idea is that you get kube-state-metrics with some +/- good defaults and if we need to customise, we can add strongly-typed Golang flags that get converted into --set overrides.

[2019-11-21 19:28] andrewelkins commented on #98
I can take this on. I probably won't get to it until the weekend.

[2019-11-21 19:30] alexellis commented on #98
Thank you

[2019-11-21 21:26] colek42 commented on #93
If you assign this to me I can start working on it now.  `k3sup install` then `k3sup join` is going to be the api I use.

[2019-11-22 02:00] onedr0p commented on #106
Maybe you can have a command the executes

[code]

on the host?

[2019-11-22 04:51] alexellis commented on #93
I don't think I can assign it to you since you haven't contributed yet, but feel free to have a go at it.

[2019-11-22 05:02] #103 closed

[2019-11-23 16:37] j0nl1 opened #109 "[Feature Request] cert-manager 0.12.0 with ARM support"
## Expected Behaviour

When I saw the pods was crashing I made some research and found the problem could be related with iptables and I used the workaround but still same issue.
[code]

## Current Behaviour

![image](https://user-images.githubusercontent.com/40375118/69482042-d3944380-0e16-11ea-8afd-cfe2ead7201c.png)
`kubectl describe pod cert-manager-cainjector-576978ffc8-7m2mr -n cert-manager`
[

[2019-11-23 18:33] alexellis commented on #109
cert-manager isn't adversed as working with RPi.

I will be updating to 0.12.0 which has multi-arch images when I can test it.

I actually do have this working fine on my RPi4 with Raspbian this is what I did - https://gist.github.com/alexellis/d0af490e9938423d4b7f686158e6d3b6

[2019-11-23 18:34] alexellis commented on #109
/set title: [Feature Request] cert-manager 0.12.0 with ARM support

[2019-11-23 18:35] alexellis commented on #109
By the way you'll need a public IP for cert-manager to work on RPi or to use port forwarding on 80,443 on your home router. The alternative is to use the inlets-operator with inlets-pro.

[2019-11-23 18:41] j0nl1 commented on #109
First of all, thanks for you response. I thought arm was supported in cert-manager.

I'm using no-ip hostname connected to my router throught dyndns configuration. I can see my deployments in my domain regarding inlets, would it need for cert-manager?

thanks again!

[2019-11-23 18:43] alexellis commented on #109
If you're happy to expose your home IP to the world and only need one IP then you can continue with that approach without inlets.

Try my gist above and as I say cert-manager goes multi-arch with 0.12.0.

[2019-11-23 19:58] j0nl1 commented on #109
I'm trying to apply your config but I got an error.

[code]
By the way I tried inlets and it is awesome, I didn't know there was such a thing.
I follow you guide and could make a deploy with nginx. I just have a question, I guess when you use expose deployment type loadbalancer create a new instance in digitalocean. Is there any possibility to use the same instance for multiple deploys?

Thanks ag

[2019-11-24 09:30] alexellis commented on #109
Error: stat cert-manager: no such file or directory

Run it in the temporary folder where the files were generated. By the "charts" folder.

[2019-11-25 10:05] #98 closed

[2019-11-25 10:07] alexellis commented on #98
Hi @andrewelkins I didn't hear from you and needed this feature, so I've added it. Please take a look at the PR and see what you think. Let me know if you want to take on anything else in the future.

[2019-11-25 10:08] #83 closed

[2019-11-25 10:08] alexellis commented on #83
Updated to v1.0.0 now

[2019-11-25 12:50] alexellis commented on #2
@OmegaSquad82 you may have a good idea there, but first of all let's get local install working w/o `ssh` for the single-node/testing scenario?

[2019-11-25 13:53] #2 closed

[2019-11-26 18:00] stretchcloud opened #112 "[App request] Add MuShop"
## Expected Behaviour
[code]

## Possible Solution
MuShop is an Open Source Application that spans across various tier of OSS Tooling and K8S Components. Great for any Demo. Live app is hosted here -> https://mushop.ateam.cloud/

Use the OpenFaaS app as an example and install via:

https://github.com/oracle-quickstart/oci-cloudnative/blob/master/deploy/complete/helm-chart/

[2019-11-28 16:19] alexellis commented on #112
I'll leave this here to gauge interest from the community. Thanks for the suggestion.

[2019-11-28 16:21] alexellis commented on #109
It looks like the change to 0.12.0 is a "no-harm" upgrade:

https://cert-manager.io/docs/installation/upgrading/upgrading-0.11.12/

https://hub.helm.sh/charts/jetstack/cert-manager

[2019-11-28 18:18] j0nl1 commented on #109
It would be a good idea to include extra params to specific which architecture you want to use and depending which one you selected it install their images.

I just updated manually which images to use.

[2019-11-28 19:06] alexellis commented on #109
Yes it would be good but it's not required in 0.12.0 since they publish multi-arch images. I've released a new version now so will close this

[2019-11-28 19:06] #109 closed

[2019-11-30 22:53] alexellis commented on #100
How do tools like Ansible work in this scenario?

[2019-11-30 22:54] alexellis commented on #100
( @rgee0 may know or @chris-short)

[2019-11-30 22:54] #88 closed

[2019-11-30 22:54] alexellis commented on #88
Thanks for doing the PR @utsavanand2

[2019-11-30 22:55] alexellis commented on #72
@phumberdroz given that we took a little over a month to get to something working, I went ahead and did a quick PR myself. It would be great if you want to revisit as your schedule permits for improvements.

[2019-11-30 22:55] #72 closed

[2019-11-30 22:55] #79 closed

[2019-11-30 22:56] alexellis commented on #79
Closing due to lack of information. @sokoow you can run the install bash script as a normal user, I'm not sure what you meant, feel free to come back later and enlighten us.

[2019-11-30 22:56] #75 closed

[2019-11-30 22:57] alexellis commented on #75
This is a fair suggestion, feel free to propose a PR on one of the apps, ideally all commands should be runnable more than once, perhaps by using apply instead of create?

[2019-11-30 22:57] alexellis commented on #75
(Closing as inactive)

[2019-11-30 22:58] alexellis commented on #49
I'm not aware of a good way to run a local registry "automatically" without cranking open your Docker daemon and adding nasty --insecure-registry settings or new CA bundles to your trust chain. Happy for someone to revisit this with a nice, lean and magic solution.

[2019-11-30 22:58] #49 closed

[2019-11-30 23:01] alexellis commented on #64
Thank you for your feedback. I'm going to close the issue now as I wasn't able to find anything that would be both easily actionable and a good fit for k3sup. Feel free to suggest improvements upstream on k3s for features you need in the base platform.

[2019-11-30 23:01] #64 closed

[2019-11-30 23:01] alexellis commented on #63
Feel free to send a PR?

[2019-11-30 23:03] alexellis commented on #106
OK thanks for clarifying, Is there a different file for server and agent? (there was last time I checked)

I'd be fine with you submitting a PR for `k3sup uninstall --ip`. When could you work on it?

[2019-11-30 23:04] alexellis commented on #107
Perhaps someone could try this with one or two of the apps and then report back? It should be a task that can be done in < 30 mins.

[2019-12-01 04:04] onedr0p commented on #106
I thought the path was the same, but I'll double check and hopefully get a PR opened before the holiday season. Thanks for the feedback!

[2019-12-01 13:38] alexellis commented on #93
@colek42 how are you getting on with prototyping this?

[2019-12-01 16:19] utsavanand2 commented on #88
Loved doing it!

[2019-12-01 16:24] utsavanand2 commented on #107
I can try it on the next Sunday if it's not urgent

[2019-12-02 11:31] martindekov opened #114 "[Feature] Add app for kafka-connector"
Kafka connector can be installed with the charts provided in the faas-netes repo the same way we install openfaas.

## Expected Behaviour

Install kafka-connector with k3sup on my cluster.

## Current Behaviour

Can't.

## Possible Solution

Add the chart as openfaas is added

## Steps to Reproduce (for bugs)

1. Try installing kafka connector with k3sup
2. You can't

## Context

It is good to hav

[2019-12-02 17:02] colek42 commented on #93
@alexellis was on vacation.  Working on this tonight.

[2019-12-02 18:53] alexellis commented on #93
I spent some time on this over the weekend. It looks like armhf doesn't work with dqlite just yet.

[2019-12-02 20:00] #93 closed

[2019-12-03 08:33] LiliC commented on #108
@alexellis hey, what kind of defaults were you thinking. It should have good enough defaults out of the box already.

[2019-12-03 08:49] alexellis commented on #108
That's roughly what I was thinking. Out of the box defaults if they are useful, perhaps with PV as a flag that's odd by default as I imagine most people will use this tool in Dev or to learn how the app works

Also, have you tried it with helm3 yet?

Thanks for answering

[2019-12-03 17:09] alexellis opened #116 "[Feature] ipsec for Flannel and k3sup install"
This feature enables the ipsec backend for Flannel in the `k3sup install` command

## Expected Behaviour

An additional flag to `k3sup install` should enable ipsec for Flannel as per Darren's comment (@ibuildthecloud) here -> https://twitter.com/ibuildthecloud/status/1200119925500592129

## Current Behaviour

k3s cannot be used on Packet.com due to the way flannel has no authentication and Packet.

[2019-12-04 13:28] Waterdrips opened #118 "Cron Connector as k3sup app"
cron connector can be installed with the charts provided in the faas-netes repo the same way we install openfaas.

# Expected Behaviour
Install cron-connector with k3sup on my cluster.

# Current Behaviour
Can't.

# Possible Solution
Add the chart as openfaas is added

# Steps to Reproduce (for bugs)
Try installing cron connector with k3sup
You can't
# Context
It is good to have

[2019-12-04 15:30] chris-short commented on #100
Ansible allows for prompting for SSH and/or sudo password as part of an ansible.cfg file: https://docs.ansible.com/ansible/latest/installation_guide/intro_configuration.html

Probably ANSIBLE_BECOME_ASK_PASS is what you're wanting?
https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_BECOME_ASK_PASS

[2019-12-05 03:06] LiliC commented on #108
@alexellis we don't use helm, but I think @tariq1890 takes care of the helm chart so pinging him here for any insight.

[2019-12-05 08:57] alexellis commented on #107
Perhaps the `openfaas` app would be the best one to start with, with regards to: https://github.com/alexellis/k3sup/issues/107

[2019-12-05 10:05] ihgann commented on #100
Can confirm I'm noticing this as well against a typical Ubuntu 18.04 VM.

[2019-12-05 10:32] alexellis commented on #100
@ihgann this doesn't happen with the Ubuntu images provided by cloud providers.

Have you considered updating your SUDOERS file?

[2019-12-06 10:19] #118 closed

[2019-12-06 10:26] #114 closed

[2019-12-08 17:56] cdata commented on #106
I think a reset/teardown step would be nice (probably also for "apps" as well). But FWIW it was pretty straight forward to automate teardown with an ansible playbook:

[code]

[2019-12-09 18:00] ihgann commented on #100
@alexellis I ran a direct iso download from https://ubuntu.com/download/server, version 18.04.3. It was a fresh VM, so I had not changed anything from the defaults.

[2019-12-09 19:42] burtonr opened #123 "kubeconfig flag is not utilized on app install"
The `kubeconfig` flag on the `app install` command does not affect the actual kubernetes command execution. The kubernetes command is executed against the default kubeconfig file, not the one passed in via flags.

## Expected Behaviour

Passing the `kubeconfig` flag on the `app install` command should use that kubeconfig file when installing the app.

## Current Behaviour

The `kubeconfig` variabl

[2019-12-10 09:01] #56 closed

[2019-12-11 13:12] biels opened #125 "[App request] Add kubernetes-dashboard"
I have been trying to install kubernetes-dashboard and it hasn't been an easy task. Since it is very useful especially in testing / sandbox environments.

I would like to be able make it accessible via http and without password and with all permssions on the cluster. Keep in mind that I am talking about development clusters and not production ones for this.

Useful links:
https://kubernetes.io/doc

[2019-12-11 13:59] Waterdrips commented on #125
Hi @biels I have raised a PR that should implement this, are you able to test it out?

if you have a working golang build env you should be able to pull the branch, then run `go build && ./k3sup app install kubernetes-dashboard`

[2019-12-11 14:02] Waterdrips opened #127 "[Proposal] Create a command to print the instructions for an app again after install"
Currently its easier to try and re-install an app than copy/paste and save the instructions post install.

It would be great to have a command that we can use to re-print the post-install instructions for installs,

something like `k3sup app info openfaas` ? which could print the post-install info again?

## Expected Behaviour

`k3sup app info openfaas`  which could print the post-install info aga

[2019-12-12 11:25] Waterdrips commented on #127
/assign: me

[2019-12-12 11:38] Waterdrips opened #128 "Using chart "app" without namespace tries to create namespace "default""
When using `k3sup  app install chart --repo-name jetstack/cert-manager` it tries to create a namespace `default` which fails because it already exists

[code]
## Expected Behaviour

It works and installs into the default namespace, or even if a namespace was used, if it exists it might fail, which we don't want.

## Current Behaviour

It fails because it cant create a namespace

## Possible Soluti

[2019-12-12 15:14] #125 closed

[2019-12-12 18:16] Waterdrips commented on #128
/assign: me

[2019-12-13 21:34] jamshid commented on #100
IMO it's not obvious or common to have passwordless sudo configured on a machine when you e.g. ask IT to give you three centos7 boxes.
Please document this requirement for that error.
Btw enabling passwordless sudo can be tricky, e.g. on centos I had to add the NOPASSWD: line *after* the `#includedir` (https://serverfault.com/questions/160581/how-to-setup-passwordless-sudo-on-linux).
Thanks for th

[2019-12-13 21:57] jamshid opened #131 "Feature: Hostname support in install/join"
## Expected Behaviour
Coming from docker / docker-machine and a little swarm, confused by the k3sup requirement that the servers are all accessed by ip. Why not allow names? Is there a fundamental reason maybe with kubernetes?
## Current Behaviour
[code]
## Possible Solution
Would be nice if the commands worked without the ip lookup and if ip addresses change. In my case they're mostly static ips.

[2019-12-18 08:46] alexellis commented on #71
I believe this is fixed now. Thanks for your interest, `k3sup app install` must work on all Kubernetes clusters. The OpenFaaS app works with `--helm3` and it will be introduced to other commands as soon as kind folks like yourself volunteer time to send a PR :-)

Thanks again for your interest and for flagging this original issue.

[2019-12-18 08:46] #71 closed

[2019-12-18 08:47] #128 closed

[2019-12-18 08:50] alexellis opened #133 "[Feature] "app info" command"
Add `app info NAME` command

## Expected Behaviour

`k3sup app info openfaas` should print the post-installation instructions and a link to the project homepage.

## Current Behaviour

Users like myself are tempted to read the go code, or install the app a second time (unnecessarily) in order or see the usage instructions.

## Possible Solution

Reference the post-install variable from the install

[2019-12-18 08:57] alexellis commented on #127
/close: duplicate of #133

[2019-12-18 08:57] #127 closed

[2019-12-23 11:39] Pomazan-Bogdan opened #134 "[Feature] Install k3s v1.0.1 by default"
Now default deploy 1.0.0

[2019-12-23 11:40] alexellis commented on #134
Great to hear 1.0.1 is out :+1:

[2019-12-23 11:41] alexellis commented on #134
/set title: [Feature] Install k3s v1.0.1 by default

[2019-12-23 11:59] Waterdrips commented on #134
/assign: me

[2019-12-23 18:26] #134 closed

[2019-12-23 18:27] alexellis commented on #134
Hi @Pomazan-Bogdan what specifically did you want from the v1.0.1 release? i'm looking at the release notes and it wasn't clear - https://github.com/rancher/k3s/releases/tag/v1.0.1

Alex

[2019-12-23 19:05] phumberdroz commented on #123
So looking at this issue it carries thru all app installs currently.

I would like to make following changes:
- use only the current `kubectlTask` and remove the `kubectl` function and add tests.
- change the helm3 function so that it returns the task as well and add tests

/cc @alexellis

[2019-12-23 19:08] alexellis commented on #123
This sounds good, please go ahead and raise the first PR for it.

There is no `helm3()` function, which do you mean?

[2019-12-23 19:08] phumberdroz commented on #123
`helm3Upgrade`

[2019-12-23 22:53] Hades32 opened #136 "node-ip is not set to external ip"
When creating a server with k3sup v0.9.1 you have to provide the public IP. But the IP being announced to other nodes on joining is just that of the first network interface.
As the server doesn't know it's own public IP (my hoster is using some DNAT). This leads to the agents not being able to fully join.

## Expected Behaviour
k3s server --node-ip=THE_IP should be set in the systemd file for k3s

[2019-12-24 07:42] alexellis commented on #136
Hi, what error did you receive and how did you test the proposed fix?

[2019-12-24 07:44] alexellis commented on #136
It also sounds like you need to use the wireguard VPN, since by default all nodes need to have visibility of one another. I have tried the scenario you mention, I got it to connect and list the two nodes, but pod networking didn't work due to an open issue with k3s.

[2019-12-24 08:42] Hades32 commented on #136
Journalctl of k3s showed, connecting to (wrong up) indefinitely. Before the fix and then it worked.

But unfortunately you are right. Now pod networking isn't working. Didn't realize that yesterday.

I thought that I wouldn't need a VPN, because of k3s' kube-proxy tool and because I have an overlay network with flannel...?

[2019-12-24 08:43] Hades32 commented on #136
Oh, and Merry Christmas to you Alex :) 🎄

[2019-12-24 09:50] alexellis commented on #136
I thought the same, but after looking into the docs, flannel assumes pod to pod reachability, that's why we need to enable the wireguard support. There is a flag for that already.

Could you send a patch that sets the external node IP for whatever the `--ip` flag was? I don't think a new flag is needed.

Happy Christmas to you too, please consider supporting my work for 2020 with [GitHub Sponsors]

[2019-12-25 22:00] alexellis commented on #133
Re-opening as this covers all commands.

[2019-12-25 22:01] alexellis opened #138 "app install commands need to use StreamStdio"
The `app install` commands need to use the `StreamStdio` with `ExecTask`, this is due to go-execute changing its behaviour in 0.3.0.

If this change is not made, then all the output from the commands is hidden / quiet.

For example:

https://github.com/alexellis/k3sup/blob/4f2b04cb317ce6840c8151fed56e0114979129b8/pkg/cmd/kubernetes_exec.go#L31

https://github.com/alexellis/go-execute/blob/961405ea

[2019-12-27 10:15] alexellis commented on #123
When should we expect a PR @phumberdroz ? 😄

[2019-12-27 10:37] phumberdroz commented on #123
Hopefully today @alexellis :)

[2019-12-27 14:10] karuppiah7890 commented on #138
@alexellis If the `StreamStdio` option is used, we don't need to use the result at the end and print it again, right?

[2019-12-27 15:09] alexellis commented on #138
Two options:

1) Add `StreamStdio` and don't print anything after
2) Keep `StreamStdio` as false and then after stdout if exit code is 0, and print stderr if exit code is not zero.

I actually prefer option 2 now that you've mentioned this.

[2020-01-01 13:29] Ehco1996 commented on #136
i found this too，my k3s server is behind the NAT and the eth0's inet is " 172.17.32.236" which is the inner private ip

when i join another node form another VPS，agent log is

` k3s[20942]: time="2020-01-01T13:20:54.107720280Z" level=error msg="Failed to connect to proxy" error="dial tcp 172.17.32.236:6443: connect: connection timed out"`

it use master node private ip not the Public IP

[2020-01-01 14:09] alexellis commented on #136
@Ehco1996 why don't you try running the commands with the public IPs?

[2020-01-01 23:32] Ehco1996 commented on #136
@alexellis  i have already use the public ip , i found this  https://github.com/rancher/k3s/issues/727 , maybe i need use some VPN like wireguard to linked muti node behind NAT

[2020-01-02 08:18] alexellis commented on #136
Yes you do. We have a flag for it already, use that?

[2020-01-02 09:26] Ehco1996 commented on #136
@alexellis  thanks reply , your mean `--ipsec`?  i will try!

after one day search i found this: [here](https://zhangguanzhang.github.io/2018/09/24/k8s-some-vpc-cluster/)
i found after  change the node Annotations `flannel.alpha.coreos.com/public-ip`  to the real public ip, everything is ok!

[2020-01-02 12:11] alexellis commented on #138
@karuppiah7890 you'd said on Slack that you wanted to work on this, are you still able to pick it up, or should I find someone else?

[2020-01-02 15:02] karuppiah7890 commented on #138
You can find someone else 😄

[2020-01-02 16:21] alexellis commented on #138
Ok, sorry that you couldn't take this as planned.

[2020-01-02 21:59] mikesir87 commented on #99
I also have this need. I have the keys on my local machine and am trying to run k3sup on a bastion host that will be operating on a machine in a private subnet (I don't have direct access from my local machine). The SSH agent is forwarded, so can log into the machine. But, the inclusion of `-i ~/.ssh/id_rsa` is mixing it up.

I'd be happy with either dropping the inclusion of the `-i flag` by defa

[2020-01-03 20:28] alexellis opened #140 "[Feature] Add custom string array --set parameter to openfaas app"
Add custom string array --set parameter to openfaas app

## Expected Behaviour

We should be able to pass in custom overrides such as `--set gateway.image=myname/gateway:mydevversion`

## Current Behaviour

Just the hard-coded flags are supported

## Possible Solution

Add the string array cobra flag to the openfaas app code, then pass the custom set / overrides through to the deployment command.

[2020-01-03 20:36] prateekgogia commented on #140
I can take it, feel free to assign me this.

[2020-01-03 20:40] alexellis commented on #140
No need to assign it, how many days do you think you'll need?

[2020-01-04 18:59] prateekgogia commented on #140
Hi, Please let me know if what I have in the linked PR was to be done for this issue, feedback welcome.

[2020-01-06 20:56] nitishkumar71 commented on #138
@alexellis can you please explain option2 again. Also, I can give it a try.

[2020-01-08 13:15] #140 closed

[2020-01-11 19:43] alexellis opened #146 "[Feature] Traefik v2 app"
## Task

Add app for traefik v2

https://docs.traefik.io

https://docs.traefik.io/getting-started/install-traefik/#use-the-helm-chart

[2020-01-11 19:44] alexellis opened #147 "[Feature] Maesh app"
## Task

Add app for maesh, which is a service mesh

https://github.com/containous/maesh#install-helm-v2-only

Docs:

https://docs.mae.sh

[2020-01-11 19:45] alexellis opened #148 "[Feature] Mongo app"
## Task

Add app for mongodb

https://github.com/helm/charts/tree/master/stable/mongodb

[2020-01-11 19:51] Mystik738 opened #149 "Install command didn’t return non-zero exit code on error"
When running k3sup, one would expect its own exit codes to report errors if it encounters errors

## Expected Behaviour
non-zero exit codes on error

## Current Behaviour
zero exit codes on error

## Steps to Reproduce (for bugs)
k3sup install --ip 0.0.0.0 && echo "$?"
Running: k3sup install
Public IP: 0.0.0.0
ssh -i /home/robert/.ssh/id_rsa -p 22 root@0.0.0.0
Error: unable to connect to 0.0.0.0:2

[2020-01-11 20:17] alexellis commented on #149
Hi k3sup does many things now so the title of this issue is not specific enough, please update it with your specific usecase.

I think we can fix this, but I'm surprised that it didn't return a non zero. I think this needs fixing. Your SSH connection also needs fixing by the sounds of it 🤓

Would you be willing to send a PR yourself, or would you like me to find someone else?

Alex

[2020-01-12 09:05] alexellis commented on #149
/set title: Install command didn’t return non-zero exit code on error

[2020-01-12 20:43] #149 closed

[2020-01-13 09:13] jnummelin opened #152 "[Feature] Bootstrapping the whole cluster with single command"
## Expected Behaviour

Currently `k3sup` requires user to bootstrap the server first and then join nodes separately. Would something like this make sense:
[code]

In this example the `cluster.yml` file could look something like:
[code]
(of course it should support all the options `k3sup install` and `k3sup join` supports)

As in the example command, this sort of approach would make working with te

[2020-01-13 18:10] alexellis commented on #148
@prateekgogia would you like to have a go at this?

[2020-01-13 18:10] alexellis commented on #148
/add label: help wanted

[2020-01-14 20:50] alexellis commented on #106
@cdata do you want to submit a PR for this or @onedr0p ?

[2020-01-14 20:51] alexellis commented on #149
Hi we've fixed this :) Do you have a link to your playbook?

[2020-01-14 20:58] alexellis commented on #152
Hi @jnummelin thanks for your interest in k3sup, nice to hear from you.

I've thought about YAML files before, but didn't want to suggest it as I think it can quickly get out of hand having offered YAML and CLI flags in OpenFaaS. I might still be convinced if I get a bit more time to work on this project. I wonder what @ibuildthecloud thinks?

I was wondering about an all-in-one approach though, w

[2020-01-14 21:13] prateekgogia commented on #148
Sure, I will start looking into this today.

[2020-01-15 01:03] onedr0p commented on #106
I don't have time at the moment to implement this feature, surely keep it open and I or someone else will get to it someday.

[2020-01-15 09:11] jnummelin commented on #152
Well, having a declarative way to describe your cluster and bootstrap/manage it has been proven to work with many k8s distros. And as a pattern it's very familiar for people coming to k3s from other k8s distros. Also in this case it makes perfect sense, at least in my head :), as `k3sup` is also able to setup many add-on components. So with a yaml one could define not only the cluster nodes, but a

[2020-01-15 17:50] utsavanand2 commented on #146
Derek assign me

[2020-01-15 17:50] utsavanand2 commented on #146
Derek: assign me

[2020-01-15 17:52] utsavanand2 commented on #146
Derek assign: me

[2020-01-15 17:54] utsavanand2 commented on #147
Derek assign: me

[2020-01-15 17:55] utsavanand2 commented on #133
@alexellis I can help. I see it's pending for about a month now

[2020-01-15 18:01] alexellis commented on #133
Yes please do. This should be available for each app.

[2020-01-18 13:39] qmacro commented on #100
I encountered the same issue today, while starting to look into k3sup and k3s on Crostini (ChromeOS Linux) containers. The target container for the k3s install was an Ubuntu 18.04 based image. I recorded an asciicast to show the details, in case it's helpful. Thanks for k3sup and the great content at https://blog.alexellis.io/raspberry-pi-homelab-with-k3sup/.

[![asciicast](https://asciinema.org/a

[2020-01-18 13:58] alexellis commented on #100
Installing k3s on Crostini is way out of scope, please don’t expect that to be supported, or to work. However, if you using a remote machine, then it may work since k3sup uses ssh.

What did the `-t` switch do for ssh?

[2020-01-18 13:59] alexellis commented on #100
@jamshid happy to link to a page showing how to enable passwordless sudo on CentOS, I don’t use Red Hat software at the moment so it’s not a path I’ve set out to or have time to support. If here’s enough demand, I may revisit where I put my limited time on this project. cc @ibuildthecloud

[2020-01-18 14:08] qmacro commented on #100
@alexellis don't worry, not expecting support in the Crostini container context at all*. I just wanted to add some extra info to this specific issue, which I encountered too. The `-t` flag forced a tty which allowed `sudo` to surface its request for a password.

* In theory I might get somewhere with this journey anyway, which will be a bonus, but that's secondary of course.

[2020-01-18 15:16] alexellis commented on #100
If I added -t as an optional flag like --tty to install/join would that help you? I'm not sure how you overcome typing a password in when automating though.

[2020-01-18 17:10] jamshid commented on #100
Thanks yes a tty option so the password can be typed manually is ideal, since running `visudo` and configuring `NOPASSWD` is sometimes not easy or possible. Ideally the k3up error when sudo fails would hint at the problem.

[2020-01-19 22:57] hasheddan opened #156 "[Feature] Add Crossplane app"
It would be great to be able to install [Crossplane](https://github.com/crossplaneio/crossplane) with `k3sup install app crossplane`.

https://github.com/crossplaneio/crossplane/tree/master/cluster/charts/crossplane

Happy to do this work if approved by maintainers!

/cc @alexellis

[2020-01-19 23:00] alexellis commented on #156
I think it could be a good addition if you want to start your PR, would you be able to reference the k3sup app installation method from the crossplane docs?

[2020-01-19 23:01] hasheddan commented on #156
Likely so, I'll check to make sure.

[2020-01-20 09:32] Kerwood commented on #152
This is definitely a wanted feature.
This would making new clusters much easier by just reusing your personalized cluster definition file.
Also it would make sense being able to provision your cluster the same way as RKE, except this would be much cooler being able to use the output from Terraform.

[2020-01-20 17:56] alexellis opened #157 "Add apps from Weaveworks"
## Description

I'd like to see the following, if it makes sense on a case-by-case basis:

* Flux CD (now CNCF) - https://fluxcd.io
* Helm Operator (in CNCF repo, but still a Weaveworks project) - https://github.com/fluxcd/helm-operator
* Weave scope - https://www.weave.works/oss/scope/ and https://github.com/helm/charts/tree/master/stable/weave-scope
* Flagger by @stefanprodan - we have an Istio

[2020-01-20 18:45] alexellis opened #158 "Move apps into a new cmd/apps package"
Move apps into a new cmd/apps package

The apps are all at the top-level in the cmd folder, which is becoming hard to read. If possible, we should try moving all apps into a new cmd/apps or cmd/app package to mirror the `k3sup app` command.

[2020-01-20 20:14] #158 closed

[2020-01-20 21:07] alexellis opened #160 "[Feature] armhf support for kubernetes-dashboard app"
## Feature

There is armhf support for the kubernetes-dashboard, so we should look at adding that for the dashboard because it's super popular with Raspberry Pi users.

https://github.com/helm/charts/tree/master/stable/kubernetes-dashboard

For an example on how to find the architecture, see the [openfaas app](https://github.com/alexellis/k3sup/blob/master/cmd/apps/openfaas_app.go)

Here's the das

[2020-01-21 00:18] onedr0p opened #161 "[Documentation] Upgrading k3s master and workers to newer versions of k3s"
Rancher has provided documentation on upgrading k3s, does k3sup allow for this? And if so, could it be documented in the README?

https://rancher.com/docs/k3s/latest/en/upgrades/

Thanks!

[2020-01-24 15:06] alexellis opened #163 "Offer to download kubectl / faas-cli in"
Just like we can download helm, for ofc-bootstrap and for k3sup users, it would be ideal to get a pinned, CPU and OS-specific version of kubectl and faas-cli via a package.

Example:

https://github.com/alexellis/k3sup/tree/master/pkg/helm

Given kubectl and faas-cli don't fit in the helm package, let's call it tools?

[2020-01-24 15:06] alexellis commented on #163
We could use the same approach for downloading helm here, except these two tools don't need an untar at present.

[2020-01-24 15:47] Waterdrips commented on #163
/assign me

[2020-01-24 15:48] Waterdrips commented on #163
/assign: me

[2020-01-25 09:46] #156 closed

[2020-01-25 13:05] alexellis commented on #107
This issue shouldn't be closed until all work is complete.

[2020-01-25 13:50] #148 closed

[2020-01-27 21:31] elmariofredo opened #167 "[Feature] Install k3s v1.17.2+k3s1 by default"
Install k3s [v1.17.2+k3s1](https://github.com/rancher/k3s/releases/tag/v1.17.2%2Bk3s1) by default instead of v1.0.1 to resolve https://github.com/rancher/k3s/issues/1115#issuecomment-569509474

[2020-01-28 11:41] #167 closed

[2020-01-28 21:00] Mobilpadde opened #170 "Not able to install mongodb via k3sup"
## Expected Behaviour

Should install mongodb

## Current Behaviour

Fails with current output

[code]

## Steps to Reproduce (for bugs)

1.  k3sup app install mongodb

## Your Environment

* What OS or type or VM are you using? Where is it hosted?
Using k3s on an Ubuntu 18.04 hosted by [contabo.com](https://contabo.com/?show=configurator&vserver_id=221)

* Operating System and version (e.g. Linux

[2020-01-28 21:08] burtonr commented on #170
Could you please provide some more information?

What is the output?

What do you see or experience that you think you are "not able to install"?

What version of k3sup are you using?

Where is the destination server hosted? Spare PC, AWS, GCP, etc...?

[2020-01-28 21:17] Mobilpadde commented on #170
Whoops, sorry!  Please checkout the updated question.

[2020-01-28 21:21] alexellis commented on #170
I think it's to do with your KUBECONFIG env-var, or some other override you're setting.

[code]

[2020-01-28 21:22] alexellis commented on #170
Maybe your kubeconfig isn't set up right?

Does this work?

[code]

What about this instead?
[code]

[2020-01-28 21:23] Mobilpadde commented on #170
Yes, I'm able to use `kubectl get node` :/

[2020-01-28 21:25] alexellis commented on #170
Try the second command I gave you and run the k3sup command again.

It would be nice to have complete steps as I've been using k3sup today with KinD without issue.

Here's the same with k3d:

[code]

[2020-01-28 21:26] Mobilpadde commented on #170
Thanks a lot! Seems to work by setting the absolute path, not the relative, is working!

[2020-01-28 21:26] #170 closed

[2020-01-28 21:27] KaiWedekind opened #171 "Warnings when running "k3sup app install metrics-server""
## Expected Behaviour

[code]

Installation without warnings.

## Current Behaviour

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. `k3sup install \
  --ip $SERVER_IP \
  --user $USER \
  --cluster \
  --k3s-extra-args '--no-deploy traefik'`
2. `k3sup join \
  --ip $NEXT_SERVER_IP \
  --user $USER \
  --server-user $USER \
  --server-ip $SERVER_IP \
  --server \
  --k3s-extra-a

[2020-01-28 21:29] alexellis commented on #170
You should always use the whole path for KUBECONFIG. helm runs in a different folder which is why it didn't work.

[2020-01-28 21:30] alexellis commented on #170
/set title: Support request for KUBECONFIG path

[2020-01-28 21:31] alexellis commented on #171
Looks like an error, not a warning?

[code]

The community really must improve on filling out bug reports, there's no context in your issue at all, this is how we help you. Please add it all back in.

[2020-01-28 21:34] alexellis commented on #171
Try deleting the cluster and running the command again with `--helm3` (again, you don't share which you are using in the issue report :-( )

[2020-01-28 21:36] alexellis commented on #171
Also, did you know that metrics-server is apparently deployed automatically now anyway? https://github.com/rancher/k3s/issues/990#issuecomment-553099227

[2020-01-28 21:45] KaiWedekind commented on #171
Sorry, just added more information

[2020-01-28 22:30] #171 closed

[2020-01-28 22:45] alexellis commented on #171
So was this to do with the change in k3s, that metrics-server is preinstalled?

[2020-01-29 11:06] KaiWedekind commented on #171
It might be. I totally missed that k3s comes with metrics-server ootb. Either that or the --helm3 flag. It's actually a little bit confusing when to use --helm3. I have helm 3 installed but using the --helm3 flag when installing the dashboard give a message that this flag is not supported, but for the metrics-server it seems to be available. Either way, thanks for pointing me in the right directio

[2020-01-29 11:19] alexellis opened #172 "App - inlets-operator should not fail to install the second time if its token secret already exists."
## Expected Behaviour

inlets-operator should be re-runnable, so I can install it again with a new config

## Current Behaviour

It's breaking when it tries to create the secret for the second time.

## Possible Solution

Either ignore the error, and just log it as a warning, or check if the secret exists with kubectl before trying to create it.

https://github.com/alexellis/k3sup/blob/master/cmd/

[2020-01-29 15:02] hasheddan commented on #172
/assign: me

[2020-01-30 11:21] henry2man opened #174 "PR: Update kubernetes dashboard & fix account creation"
Kubernetes Dashboard is outdated (current version is 2.0.0-rc2). Also the script fails creating an admin user.

## Expected Behaviour

 `$> k3sup app install kubernetes-dashboard`

* Installs latest kubernetes-dashboard (2.0.0-rc2) and
* hints the user how to create admin user, not creating it directly. According to https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creat

[2020-01-30 19:38] alexellis commented on #167
Hi @elmariofredo, can we say that this version fixes the multi-master dqlite issue logged with Rancher for Raspberry Pi? cc @davidnuzik

[2020-01-31 08:21] #172 closed

[2020-01-31 10:31] henry2man commented on #174
@alexellis Regarding automatic user creation that did you mention in https://github.com/alexellis/k3sup/pull/175#issuecomment-580492813 , the previous code was failing with these errors:

[code]

The main issue was that kubctl argument in previous code was a single hyphen `"-"`, instead of `"-f"` or `"-k"`, as this:

`...kubectlTask("apply", "-", ...`

In order to back to the previous impl I need

[2020-01-31 10:41] Waterdrips commented on #174
I was having a look at this earlier, I think its related to a kubectl version upgrade. Because we rely on a user's version rather than installing our own. I am working on a feature to add download of kubectl to k3sup. This would allow us to install a specific known working version.

I think we need to move to a `kubectl create` for the user objects (when flag enabled) when we have the new download

[2020-01-31 19:55] davidnuzik commented on #167
Hello @alexellis we are going to execute some tests after some current high priority items we have on our plate (see https://github.com/rancher/k3s/issues/1115#issuecomment-580885131) to see if its fixed. Note, DQLite is still experimental we will try to look into as soon as we are able to do so.

[2020-02-01 19:31] xMordax opened #178 "Update Kubernetes cluster"
How to update the Kubernetes cluster using k3sup?
Some kind of documentation would be nice.

Thanks.

[2020-02-02 18:21] orsenthil opened #179 "How to Uninstall the app installed using k3sup"
I used `k3sup app` to install kubernetes app.

[code]

I will like to uninstall the app. How do I uninstall it? Why does `k3sup` does not provide an uninstall command?

[2020-02-03 10:36] xMordax commented on #161
Closing since its a duplicate: https://github.com/alexellis/k3sup/issues/161

[2020-02-03 10:42] xMordax commented on #178
Closing since its a duplicate: https://github.com/alexellis/k3sup/issues/161

[2020-02-03 10:42] #178 closed

[2020-02-03 11:16] elmariofredo commented on #167
Actually I was able to build cluster without error, but after some time it broke down and since then I'm unable to build it in HA mode again. Seems that on init master node is trying to reach other nodes which are wiped even after running uninstall script.

@davidnuzik let me know if I can help you with this issue.

[2020-02-03 11:43] elmariofredo commented on #107
If I understand it correctly helm3 is backward compatible with helm2 so why not globally set helm to v3 and verify that all charts are working properly?

[2020-02-03 11:48] alexellis commented on #107
@elmariofredo contributions are most welcome, please do feel free to send us a PR to enable the helm3 flag for each chart.

[2020-02-04 10:40] avarf opened #181 "Helm not installed by default"
Hi, I used k3sup for installing k3s on a remote machine. The installation moved smoothly and I am able to launch deployments, services, etc via yaml files but Helm was not installed by default.

I had to create all the required RBAC stuff and then run `helm init` to make helm available. This is not a hard thing to do but based on the official documentation k3s comes with a helm controller, have yo

[2020-02-04 11:50] alexellis commented on #163
Please add helm2 and helm3 as download commands.

How should this look as a command?

[code]

Etc?

[2020-02-04 11:52] Waterdrips commented on #163
I went with `k3sup tool download [helm2,helm3,kubectl,faas-cli]`

Can be changed v easily to suit.

Im almost there with this code.

[2020-02-04 15:39] #181 closed

[2020-02-04 15:40] alexellis commented on #181
Hi I'm going to close this issue because it's not clear what the issue is.

There's no need to chown / chmod any KUBECONFIG files, they are all brought back to the host where `k3sup` is run.

To get Helm 2 or 3, you simply need to install an app that uses either

[code]

The binary is downloaded to $HOME/.k3sup/

For technical support please could you join Slack? Or use the issue template instead

[2020-02-04 15:40] alexellis commented on #181
/msg: slack

[2020-02-04 15:41] alexellis commented on #179
Which app do you want to remove?

[2020-02-04 15:41] #179 closed

[2020-02-04 15:41] alexellis commented on #179
You'll see from the installation that there's a folder created in `/tmp/` which we use `kubectl apply -f` with, you can use run `kubectl delete -f /tmp/` if you like, or delete the namespace / resources.

Which specific app do you want to remove anyway?

Closing as out of scope.

[2020-02-04 15:43] alexellis commented on #174
Yes it's related to an old kubectl version I had on my machine. @henry2man please can you finish the work on the kubernetes-dashboard app now and add back in the functionality to create the RBAC roles? We didn't approval that code for being removed.

I understand you are concerned about things, but for your personal use I suggested you use a flag `--create-admin-account=true`, and set it to false.

[2020-02-04 15:43] alexellis commented on #160
@henry2man is this fixed now?

[2020-02-04 15:44] alexellis commented on #157
Help wanted from Weaveworks folks.. @stefanprodan @stealthybox perhaps?

[2020-02-04 15:44] #136 closed

[2020-02-04 15:45] alexellis commented on #131
I would consider this, but it's only had one upvote. Let's see if it's worth the time and investment?

[2020-02-04 15:46] alexellis commented on #106
@cdata did you want to work on a PR for this? `k3sup remove` for instance?

[2020-02-04 15:47] #95 closed

[2020-02-04 15:47] #28 closed

[2020-02-04 15:48] #26 closed

[2020-02-04 15:48] alexellis commented on #26
Closing due to lack of interest from community and lack of input from original poster.

[2020-02-04 15:48] #112 closed

[2020-02-04 15:48] alexellis commented on #112
I'm not seeing this as something requested, so I'd suggest we leave off for now. Thanks for the suggestion

[2020-02-04 15:50] alexellis commented on #161
I can't really see any differences there between upgrade and running the install for second time. Can you help me out @onedr0p ?

[2020-02-04 15:52] #133 closed

[2020-02-04 15:56] henry2man commented on #174
@alexellis I don't have any problems to add again the RBAC roles. I was just waiting any news from @Waterdrips regarding the new feature, as he said:

[2020-02-04 16:01] henry2man commented on #160
I doesn't know :/

I've migrated my Pi homelab cluster to a x86 one so I cannot verify this feature right now, my apologies.

[2020-02-04 16:35] onedr0p commented on #161
@alexellis that is all that is required, I tried it out on the last k3s update. Maybe mention that link, or provide some literature in the README on upgrading?

[2020-02-04 18:30] nitishkumar71 opened #182 "basic auth can not be disabled for openfaas app"
## Expected Behaviour

We want to disable basic-auth on openfaas when installing it using k3sup. So any request to URL **/system/functions** can be sent without basic **Authorization** header.
## Current Behaviour

k3sup install is not disabling basic-auth for openfaas app, even after passing the argument to do disable it. It throws error invalid credentials.
## Possible Solution

## Steps to Repr

[2020-02-04 19:40] alexellis commented on #182
Thank you for the report. I will ask if there’s someone who can look into this for you.

In the meantime, I strongly recommend that you do not under any circumstance disable basic auth. You can get the password very easily via `k3sup app info openfaas`.

[2020-02-04 19:41] alexellis commented on #182
/add label: priority/low

[2020-02-05 01:02] blaisep commented on #112
While I like the idea of a working implementation that people can use as a starting point, I think mushop has a few too many moving parts for my taste.

[2020-02-05 15:07] viveksyngh commented on #182
I will work on this.

[2020-02-05 19:03] viveksyngh commented on #182
I tried installing `openfaas` on my rashpberry pi using `k3sup app install openfaas --basic-auth=false`  and it is working fine. I can invoke the functions without any authorization.

[2020-02-05 19:07] viveksyngh commented on #182
@nitishkumar71  please let me know what is the version of k3sup you are using ?

[2020-02-05 19:08] alexellis commented on #182
Can you try installing with with, check it works with curl? Then after disable and check again using curl at /system/functions

[2020-02-05 19:41] viveksyngh commented on #182
yes, I can confirm that it is not working after we enable and then try to disable basic auth.

[2020-02-06 07:09] nitishkumar71 commented on #182
@alexellis should I edit the description of bug?

[2020-02-06 08:19] alexellis commented on #182
Sure, if it's not accurate.

[2020-02-06 12:56] orsenthil commented on #179
Hi @alexellis

- I did not see anything in the `/tmp` that will allow me to do the `kubectl delete -f /tmp/packagename`

----

My inlets-operator installation failed

[code]

PostgreSQL had failed

[code]

I wanted to see way to uninstall these apps that I installed via k3sup.
I cannot uninstall them via `helm uninstall`

Why do you think this request is out-of-scope?

[2020-02-06 14:59] eleaner opened #183 "Potential issue with --ipsec flag"
running k3sup
Version: 0.8.2
Git Commit: 6de447c5bfec9231bd773998fed0976237cc02a3
on mac

`k3sup install
  --ipsec
  --cluster
  --user $USER
  --sudo
  --ssh-port 22222
  --ip xxx.xxx.xxx.xxx`

it is parsed to
`ssh: curl -sLS https://get.k3s.io | INSTALL_K3S_EXEC='server --cluster-init --tls-san xxx.xxx.xxx.xxx '--flannel-backend ipsec'' INSTALL_K3S_VERSION='v1.17.2+k3s1' sh -`

as you can see th

[2020-02-07 16:47] alexellis commented on #146
I've pinged @emilevauge about this one over email to see if we can collaborate with containous on the app.

[2020-02-07 16:47] alexellis commented on #147
As per comment on #146, I've pinged @emilevauge about this one over email to see if we can collaborate with containous on the app.

[2020-02-08 10:58] elmariofredo commented on #107
What is your reasoning behind keeping helm2 support? I would rather replace helm2 with helm3 completely as helm3 is backward compatible.

[2020-02-08 11:09] alexellis commented on #107
I appreciate that you have a different opinion, thank you for voicing that. At some point the support may be removed, but breaking changes like this cannot be made as knee-jerk reactions.

The helm2 code also offers templating, which is a different install approach to what we're doing in the `--helm3` flag.

[2020-02-09 10:13] Kerwood commented on #152
Sooo... Is this going to be a thing or ?

[2020-02-10 22:45] alexellis opened #186 "Bug - validate that --project-id is given for Packet or GCE/GCP"
There was a bug that was found by Duffie @mauilion, we need to validate that --project-id is given for Packet or GCE/GCP.

## Expected Behaviour

If giving `--provider` for a provisioner that requires a project-id, we should throw an error if it's not provided.

## Current Behaviour

We don't and it installs then gives empty logs when reconciling.

## Workaround

`kubectl edit deploy/inlets-operat

[2020-02-11 05:47] utsavanand2 commented on #186
Derek assign: me

[2020-02-11 12:37] alexellis commented on #186
I've sent a PR for this, but @utsavanand2 can you add a few unit tests please?

[2020-02-11 12:52] utsavanand2 commented on #186
@alexellis Sure I can add some unit tests here in k3sup for validation. I apologize for not being able to help you out early enough. Just got back!

[2020-02-11 13:47] alexellis commented on #186
No problem. This seemed like it needed sorting out before it left a bad impression on the project.

[2020-02-11 13:47] alexellis commented on #186
I know you're looking at other things too.

[2020-02-11 22:56] alexellis opened #189 "[App] Add docker-registry-ingress app"
Add docker-registry-ingress app

## Expected Behaviour

Get a TLS cert with Ingress + Issuer for a given domain exactly how the `openfaas-ingress` app works.

## Current Behaviour

These steps can be used: https://github.com/alexellis/k8s-tls-registry

[2020-02-12 09:06] Waterdrips opened #190 "add --helm3 to the mongo/db and minio apps"
## Expected Behaviour

we should be able to use helm3 for minio and mongo and make it default
## Current Behaviour

helm2
## Possible Solution

add helm3 using the same pattern as other apps

[2020-02-12 09:06] Waterdrips commented on #190
/assign: me

[2020-02-13 17:13] ebartz commented on #26
I am currently running into this. The air gapped installation is quite simple and described here:

https://rancher.com/docs/k3s/latest/en/installation/airgap/

In such an environment I would like to hand over a link to an internal url, where it can download the k3s-airgap-images-$ARCH.tar.

[2020-02-13 18:21] retgits opened #194 "Issue running k3sup for inlets-operator with EC2 provider"
## Current Behaviour

I tried installing the `inlets-operator` using k3sup with EC2 being the provider for it. The command I ran was

[code]

The issue is that k3sup asks for a Token File and doesn't seem to accept the access-key and secret-key.

## Possible Solution

I think adding `inletsOperator.Flags().String()` for both access-key and secret-key, and adding ec2 as a provider in `getInletsOper

[2020-02-13 23:26] rhd commented on #26
I'd love to see airgap support as well!

[2020-02-14 13:19] pisymbol opened #195 "Can not find tiller during app install of nginx-ingress"
## Expected Behavior
Install of ingress-nginx

## Current Behaviour
$ k3sup app install nginx-ingress
Using kubeconfig: /home/pi/.kube/config
Using helm3
Client: armv7l, Linux
2020/02/14 08:13:02 User dir established as: /home/pi/.k3sup/
"stable" has been added to your repositories
Hang tight while we grab the latest from your chart repositories...
...Skip local chart repository
...Successfully go

[2020-02-14 13:26] alexellis commented on #195
This is odd because we don't even use tiller :-)

Btw if you're using RPi you can try K3d which comes with Traefik.

@Waterdrips can you help please?

You might want to try the --helm3 flag too or rm -rf $HOME/.k3sup

[2020-02-14 13:38] pisymbol commented on #195
[code]

[2020-02-14 13:44] Waterdrips commented on #195
Whats the output of `~/.k3sup/bin/helm3/helm version` - I wonder if it downloaded the wrong version into that folder, and now it's cached it wont re-download

[2020-02-14 13:45] pisymbol commented on #195
That is exactly the problem:

$ /home/pi/.k3sup/bin/helm3/helm version
Client: &version.Version{SemVer:"v2.16.0", GitCommit:"e13bc94621d4ef666270cfbe734aaabf342a49bb", GitTreeState:"clean"}
Error: could not find tiller

[2020-02-14 13:45] Waterdrips commented on #195
ok - delete that folder (.k3sup/bin/helm3) and try again?

[2020-02-14 13:46] pisymbol commented on #195
k3sup has a bug:

$ k3sup app install nginx-ingress --helm3
Using kubeconfig: /home/pi/.kube/config
Using helm3
Client: armv7l, Linux
2020/02/14 08:45:56 User dir established as: /home/pi/.k3sup/
**https://get.helm.sh/helm-v2.16.0-linux-arm.tar.gz**
/home/pi/.k3sup/bin/helm3/linux-arm linux-arm/
/home/pi/.k3sup/bin/helm3/README.md linux-arm/README.md
/home/pi/.k3sup/bin/helm3/helm linux-arm/helm
/

[2020-02-14 13:48] Waterdrips commented on #195
/assign: me

[2020-02-14 13:49] pisymbol commented on #195
Let me know when you have a fix! :-)

[2020-02-14 13:49] alexellis commented on #195
Alistair saw something similar with an app he wrote the other day. There's an environment variable we should be setting or something like that. In any case tiller is never used, we have no code that can use it.

You can try removing that folder and running --helm3=false

[2020-02-14 13:51] Waterdrips commented on #195
as a workaround you could set the env var "HELM_VERSION" to "v3.0.2"

[2020-02-14 13:51] pisymbol commented on #195
[code]

helmVersion is statically set.

[2020-02-14 13:51] pisymbol commented on #195
Trying that now @Waterdrips

[2020-02-14 13:52] pisymbol commented on #195
[code]

That works at least getting it to download helm3. You need to fix the --helm3 parameter to actually set the helmVersion me thinks.

[2020-02-14 13:56] pisymbol commented on #195
Success. Though I kinda like it in nginx-ingress namespace. Does k3sup support that?

[2020-02-14 13:58] Waterdrips commented on #195
hmm not at the moment

[code]

[2020-02-14 13:59] pisymbol commented on #195
That should also be added since I think it would be fairly trivial to support. Just a suggestion.

[2020-02-14 14:02] pisymbol commented on #195
Btw, never got a Slack invite which is why I'm here!

[2020-02-14 14:05] Waterdrips commented on #195
/slack

[2020-02-14 14:05] Waterdrips commented on #195
/msg: slack

[2020-02-14 14:11] Waterdrips commented on #195
If you are interested in this can you raise a new issue for it?

[2020-02-14 16:16] pisymbol opened #197 "Support custom namespaces on app install"
Currently 'k3sup app install' command installs everything in the 'default' namespace.

It would be really nice if there was an option '-n,--namespace' that would propagate its value to the actual install command (e.g. helm) so an admin can choose what namespace an app gets installed in.

[2020-02-14 16:17] pisymbol commented on #195
#197 filed.

[2020-02-14 16:28] pisymbol opened #198 "Istio does not install on RPi cluster"
[code]

## Expected Behaviour
Istio gets installed in the istio-system namespace

## Current Behaviour
See above

## Possible Solution
I'm not sure istio is actually supported on ARM just yet. So maybe this bug is to track?

## Your Environment

* What Kubernetes distribution are you using (for `k3sup app`)?

[code]

* What OS or type or VM are you using for your cluster? Where is it hosted? (for

[2020-02-14 17:49] #198 closed

[2020-02-14 17:49] alexellis commented on #198
Istio is not available for Raspberry Pi.

[2020-02-15 05:11] colin-mccarthy commented on #95
I am having the same issue

[2020-02-15 13:33] pisymbol commented on #197
I noticed that the 'inlets-operator' app offers this. But why is this per app? It should be global, right?

[2020-02-15 13:33] pisymbol commented on #198
@alexellis Why list it then? It would be better of k3sup detected the architecture of the machine and prune apps that aren't supported, right?

[2020-02-15 15:11] alexellis commented on #198
Most apps do print a warning, Istio is not one of those, but I'm happy to add it.

It's well well known that Istio and Envoy do not work on ARM, the same goes for Linkerd for instance.

You should also see the notes in the README, some apps specify an architecture. I've also clarified what "PC" means vs "ARM", for folks who aren't aware of the difference.

Feel free to contribute and thanks for us

[2020-02-16 19:10] Waterdrips opened #199 "Allow Pinning of helm chart versions"
## Expected Behaviour

We should be able to pin helm chart versions if required

## Current Behaviour

we always install latest

## Possible Solution

add a "version" parameter to the helm install commands, if set to non
null then we install that version

[2020-02-20 13:42] #199 closed

[2020-02-20 13:43] #195 closed

[2020-02-20 15:09] Waterdrips commented on #189
/close
closed by #192

[2020-02-20 15:09] #189 closed

[2020-02-20 15:13] Waterdrips opened #206 "Allow overide for basic-user-password in openfaas app"
I am trying to use k3sup to do some automation of out openfaas environments and our basic-auth-password needs to be passed in rather than read after its randomly generated (reading from a block of text or kubectl command is hard in the tool)

## Expected Behaviour

pass in `--basic-auth-password` and have this be used rather than a random value

## Current Behaviour

a random value is used

## Pos

[2020-02-20 15:41] #206 closed

[2020-02-21 18:37] Waterdrips opened #210 "Grafana App with cluster metrics scraping"
We could add an app that install grafana and scraped cluster metrics (etc)

It depends on Prometheus being deployed, so we might want a user to pass in some of the info about the Prometheus installation?

Something like this could be used: https://grafana.com/grafana/dashboards/315

We might optionally want grafana-ingress setup, if the dashboard can be configured with decent authentication.

## E

[2020-02-24 11:36] utsavanand2 commented on #186
PR #214 should close this issue
cc @alexellis

[2020-02-24 14:38] avarf opened #215 "How to uninstall k3s?"
Hi, I set up a K8s cluster using k3sup and everything is good and working. Now I need to remove it but I couldn't find any command to delete/tear down the cluster. How I can tear down the cluster? Shall I use the commnads for the [normal K8s](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#tear-down)?

[2020-02-24 14:42] #215 closed

[2020-02-24 14:43] alexellis commented on #215
Please use Slack for technical support #k3sup channel

https://slack.openfaas.io

[2020-02-24 14:43] alexellis commented on #194
This will be fixed in #211 cc @Waterdrips

[2020-02-24 17:58] #194 closed

[2020-02-24 18:25] #186 closed

[2020-02-25 12:12] Waterdrips commented on #160
/assign: me

I think this is fixed, but I'll just do a check before closing

[2020-02-26 09:54] aidun commented on #157
@alexellis as discussed in slack I start working on it. I will start with the helm operator.

[2020-02-26 10:00] stefanprodan commented on #157
@aidun I would start with Flux, the helm operator should use the [SSH key generated by Flux](https://github.com/fluxcd/helm-operator/tree/master/chart/helm-operator#use-fluxs-git-deploy-key) so users don't have to add two deployment keys to the same repo.

[2020-02-26 10:53] alexellis opened #217 ""k3sup app install" has become "arkade""
## Announcement

`k3sup app install` can install software like OpenFaaS, Minio, Kubernetes Dashboard to any Kubernetes cluster think of it like brew, for helm. It uses helm charts, but abstracts away all the horrible details behind a simple set of Go CLI flags.

"k3sup app install/info" has become "arkade"

This is because:

* People dismiss k3sup for installing apps to Kubernetes because it conta

[2020-02-26 11:51] alexellis commented on #210
Closed by https://github.com/alexellis/arkade/issues/6

[2020-02-26 11:51] #210 closed

[2020-02-26 11:52] #69 closed

[2020-02-26 11:52] alexellis commented on #69
Closing out some older issues. Thanks for the suggestion.

[2020-02-26 11:53] #147 closed

[2020-02-26 11:53] alexellis commented on #147
Closing due to lack of interest from community.

[2020-02-26 11:53] #107 closed

[2020-02-26 11:55] #138 closed

[2020-02-26 11:56] #18 closed

[2020-02-26 11:56] alexellis commented on #18
Closing due to lack of interest from community.

[2020-02-26 11:57] alexellis commented on #183
Interesting, do you want to send a fix / PR? Is this in k3s or in k3sup?

[2020-02-28 03:43] tomingoglia opened #218 "Broken Installer"
On the latest release you are using grep Location to get the version. I think it needs to be grep location...lower case.

version=$(curl -sI https://github.com/$OWNER/$REPO/releases/latest | grep **Location** | awk -F"/" '{ printf "%s", $NF }' | tr -d '\r')

version=$(curl -sI https://github.com/$OWNER/$REPO/releases/latest | grep **location** | awk -F"/" '{ printf "%s", $NF }' | tr -d '\r')

I th

[2020-02-28 08:24] Waterdrips commented on #218
/close

Hi @tomingoglia, Thanks for reporting, I have been through all of the repos and updated to a case insensitive grep.
 :tada: Let us know if you have any other issues

[2020-02-28 08:24] #218 closed

[2020-02-28 08:54] alexellis commented on #218
That was very fast @Waterdrips, thank you 👍

[2020-03-02 17:20] RaananHadar opened #221 "[Feature] Add support for an airgap install"
This is supported by k3s as discussed in the docs [here](https://rancher.com/docs/k3s/latest/en/installation/airgap/).

[2020-03-03 21:47] utf18 opened #222 "k3s is now on version v1.17.3+k3s1"
k3s updated its version v1.17.3+k3s1 from v1.17.2+k3s1

## Context

i installed k3s earlier and noticed a new version came out, i would have send a PR with the updated config.go file, but i am unsure about your tests for newer version of k3s.
https://github.com/alexellis/k3sup/blob/master/pkg/config/config.go#L10

## Your Environment

* What Kubernetes distribution are you using (for `k3sup app`)?

[2020-03-04 13:30] orefalo commented on #222
I used the version flag to force it.

[2020-03-04 13:39] orefalo opened #223 "installing linkerd: no clock skew detected"
So I don't think the issue is directly related to k3sup, but a small change can definitely help.

I setup my cluster on Hetzner, installed openfaas and Linkerd.

Linkerd typically runs a pre-check which fails with this error:
_"no clock skew detected"_ , seems to be a clock sync issue.

To fix it, I typically ssh into the node, run **timedatectl set-ntp true**, and reboot the machine.

upon reboot

[2020-03-04 16:13] alexellis commented on #222
That's why we have the version flag, is it clear enough in the README do we feel?

I'd be happy to take a PR, if someone can confirm the new version is fully working on RPi.

[2020-03-04 18:09] orefalo commented on #222
So far so good, but it needs more testing.

[2020-03-06 17:20] cmonty14 opened #225 "Why defining KUBECONFIG=`pwd`/kubeconfig?"
Hi,

I have successfully deployed k3s on Debian 10.

In the doku "Setup a Kubernetes server with k3sup" you write:
[code]
So I logged on the node where I deployed k3s and executed this:
[code]
Question:
Why should I define KUBECONFIG?

I mean there's no such directory _/home/locadmin/kubeconfig_.

And `kubectl` is only working with _sudo_, but I guess this is expected.

THX

[2020-03-06 19:56] dazzag24 commented on #100
I'm seeing the same issue on a scaleway provided Ubuntu 16.04 LTS image when using a non root user who has sudo permissions but requires a password.

sudo: no tty present and no askpass program specified
Error: error received processing command: Process exited with status 1

[2020-03-08 06:46] Opswatch commented on #100
Im getting the same error on a ubuntu 16.04 and 18.04 installed on a vm from a regular ubuntu server iso.
sudo: no tty present and no askpass program specified
Error: error received processing command: Process exited with status 1
Even with a root user, worked a couple weeks ago

[2020-03-10 09:22] utf18 commented on #222
Do you want to keep this issue open for tracking? otherwise feel free to close it 👍
Thank you all for your work 🦄

[2020-03-10 19:18] chris-short commented on #100
This seems very much like an SSH/Ansible configuration problem and not a
k3s issue.

On Sun, Mar 8, 2020 at 1:46 AM Hugo Pinheiro <notifications@github.com>
wrote:

--

Chris Short
He/Him/His
Web <https://chrisshort.net/> | Newsletter <https://devopsish.com/> |
Twitter <https://twitter.com/ChrisShort> | LinkedIn
<https://linkedin.com/in/thechrisshort>

[2020-03-13 23:05] kamikaze opened #226 "Feature request: Support new-format of encrypted OpenSSH keys"
The problem is that ssh-keygen now produces automatically a key in RFC4716-format. A few months ago, it was still the old "PEM" format. Go does not support SSH keys in the RFC4716-format. It does support keys in the PKCS#8 format but only unencrypted keys are supported currently.

[code]

[2020-03-14 15:26] Amalkh5 commented on #225
@cmonty14 running  the command ``` export KUBECONFIG=`pwd`/kubeconfig ``` should be in your machine to access remote Kubernetes cluster.

[2020-03-15 21:01] alexellis commented on #225
Hi @Amalkh5 I'm also a little confused by what this issue is about.

After running `k3sup install`, the kubeconfig file is generally outputted to `pwd`, therefore you should set the full path to the kubeconfig file before running `kubectl`.

That's the answer to "why", but is there another question you wanted to ask @cmonty14?

[2020-03-15 21:01] #225 closed

[2020-03-15 23:00] klmcwhirter commented on #131
accessing servers by ip address in general is an anti-pattern and should be discouraged

[2020-03-18 12:30] phobos-dthorga commented on #100
I know this isn't exactly related as to the above, but I came here through a search on Google where I'm encountering the same problem with self-hosted GitLab's CI/CD with regard to the Docker containers used.

A solution where `sudo` does not ask for the password would be absolutely fantastic for my organization.

[2020-03-18 13:48] livearchivist opened #228 ""Could not resolve host" when running install script on Mac"
## Expected Behaviour
Running `curl -sLS https://get.k3sup.dev | sh` should tolerate directories with spaces in them. On my Mac, since I use a Personal and Business Dropbox I have `/Users/me/Dropbox (Business)` and `/Users/me/Dropbox (Personal)`.

## Current Behaviour
Currently, installation script errors out with:
[code]

## Possible Solution
Add handling for directories with spaces.

## Steps to

[2020-03-19 11:56] alexellis commented on #228
Hi @livearchivist would you like to work on a fix for this?

Alex

[2020-03-19 11:56] alexellis commented on #228
Perhaps quoting the folder would be enough? https://github.com/alexellis/k3sup/blob/master/get.sh

It should be very easy for you, or someone else to test out locally.

[2020-03-19 11:57] alexellis commented on #100
@phobos-dthorga what are you looking for?

[2020-03-19 14:00] alexellis commented on #222
I'd like to see someone test it out on an RPi cluster with:

1 server
1 server, multiple agents

That would be enough I think to merge.

[2020-03-19 16:41] MrSimonEmms commented on #226
Duplicate of #8

[2020-03-19 18:00] Amalkh5 commented on #228
@alexellis I try to reproduce the issue and got the same output

[code]

I try to work on a fix.

[2020-03-22 18:49] kyounger commented on #161
Yeah, can confirm, just re-running the same commands that you used to install will "upgrade".

e.g., this is mine:

[code]

I just run that once in a while. That will upgrade the master node first, and then each worker node. If you needed to be careful with how you cycle nodes (for application uptime purposes), you just need to handle that between each `join` command.

[2020-03-27 11:24] dazzag24 opened #230 "Custom SSH key"
I connect to my scaleway host a using custom named SSH key.

e.g.

[code]

I have been unable to find a way to make the k3sup install command work as it assumes that I am using the default (id_rsa) key:

[code]

how can I pass in to the SSH command the name of the key that I want it to use?

Thanks

Darren

[2020-03-27 11:26] #230 closed

[2020-03-27 11:27] dazzag24 commented on #230
-ssh-key

I should have RTFM ;-)

[2020-03-29 12:20] Hemantkumar-Chigadani opened #231 "k3s installation from pre-downloaded binary where internet connection is restricted"
k3s installation from pre-downloaded binary where internet connection is restricted

## Expected Behaviour
User can be able to build k3s cluster from pre-downloaded binaries for both k3sup and k3s using simple install scripts with local binary location

## Current Behaviour
k3sup connects to external internet to download binary for k3s

## Possible Solution
k3sup can provide an input argument wher

[2020-03-29 14:37] frafra opened #232 "Failure at first install"
k3sup install has to be launched twice to succeed.
Tested on Alpine Linux 3.11, on Linode.

## Expected Behaviour
It should install k3s without failing.

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)
1. Run Alpine 3.11 (on Linode?)
2. `k3sup install --ip $ip # it fails`
3. `k3sup install --ip $ip # it works`
## Your Environment

* What Kubernetes distribution are you using (for `k3

[2020-04-11 09:11] thepatrick commented on #99
This made for a negative first run experience for me.

I'm not sure why the the `-i $HOME/.ssh/id_rsa` is even being added in the first place, as @haraldkoch points out ssh will do this by itself for that exact path (and other similar ones) and behave correctly for me (that is by letting SSH work out where the key is) as well.

Is there some reason k3s will fail later for this that necessitates ha

[2020-04-16 15:31] rayhayes commented on #99
Same here. I'm following the instructions and I get to this step Install Kubernetes with k3sup and k3s and I get the error above and though I can ssh into each Raspberry Pi 4, k3sup doesn't work. What is the correct workaround?

[2020-04-22 01:03] CloudGrimm commented on #99
I am also hitting the same challenge, has anyone managed to find the correct way around?

[2020-04-23 05:11] BChip opened #233 "Duplicate Hostnames"
When installing raspbian lite, the default hostname is raspberrypi. When building up a multi-node raspberry pi kubernetes cluster, this is an issue. If you install one pi as the server and join another pi with the same hostname, you will not see that joined pi when running `kubectl get node`.

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Easy solution: Some wh

[2020-04-23 09:31] #233 closed

[2020-04-23 09:32] alexellis commented on #233
I don't think that setting hostnames is part of the remit for k3sup. When I build clusters, I set the hostname of each node when preparing its SD card or after first boot, with Ubuntu you can even use cloud-init to do this. Setting hostnames is a reasonable expectation for setting up nodes, closing the issue.

[2020-04-23 09:32] #217 closed

[2020-04-23 14:54] naude-r commented on #100
@Opswatch @dazzag24 @haraldkoch
add to ~/.ssh/config
[code]
above has the same effect as ssh -t

[2020-04-23 14:56] Opswatch commented on #100
@naude-r  Thanks :)

[2020-04-24 17:10] orefalo opened #234 "Hardening node"
Based on https://rancher.com/docs/rancher/v2.x/en/security/hardening-2.3.5/

k3sup install should:

file /etc/sysctl.d/90-kubelet.conf:
[code]

then run `sysctl -p /etc/sysctl.d/90-kubelet.conf` to activate the setting.

The rest of the documents, if more of a post install checklist

[2020-04-27 12:20] ThomasK33 opened #235 "Use double quotes instead of single quotes for INSTALL_K3S_EXEC"
## Expected Behaviour
When installing k3s via k3sup the k3s extra args passed via `--k3s-extra-args` should be interpolated on the remote machine.

## Current Behaviour
Currently the k3s extra args are not interpolated on the remote machine.

## Possible Solution
Change single quotes to escaped double quotes in [install.go](https://github.com/alexellis/k3sup/blob/5a636dba10e1f8e6bb4bb5982c6e04fc21

[2020-04-27 19:31] Amalkh5 commented on #228
fixed in #229

[2020-05-06 15:45] abousselmi opened #236 "Add delete cluster command de k3sup CLI"
I need to be able de remove a running (local or remote) k3s cluster. I suggest adding a command to k3sup CLI.

## Expected Behaviour

It should be something like:

[code]

The result is a deleted k3s cluster.

## Current Behaviour

The command does not exist.

## Possible Solution

Add the command to the k3sup CLI

## Steps to Reproduce (for bugs)

[code]

No delete cluster command.

## Context

I

[2020-05-07 06:33] moritz31 commented on #222
There are now release channels: https://rancher.com/docs/k3s/latest/en/upgrades/basic/
I think this would be a cool addition to just default to the stable release channel and additionally you can specify a version which then overwrites the channel

[2020-05-07 07:27] alexellis commented on #222
Happy to take a PR to be able to substitute `INSTALL_K3S_VERSION` with `INSTALL_K3S_CHANNEL`.

[2020-05-07 07:31] alexellis opened #237 "Support INSTALL_K3S_CHANNEL as a flag"
`INSTALL_K3S_CHANNEL` can now be used to specify a tag instead
of a specific version. Some users may want this behaviour.

https://rancher.com/docs/k3s/latest/en/upgrades/basic/

## Expected Behaviour

[code]

## Current Behaviour

Only a specific version can be given, or the default

## Possible Solution

Add a new flag for `--channel` which should have validation and be
mutually exclusive with t

[2020-05-07 08:15] kateGlebova commented on #237
I'd like to take this on if that's alright

[2020-05-07 11:15] moritz31 commented on #237
Hey alexellis, i thought it would be more convenient to default to --channel stable instead of a version

[2020-05-07 21:30] Amalkh5 commented on #236
@abousselmi I opened PR  #241 that will add the command.

[2020-05-11 10:07] abousselmi commented on #236
@Amalkh5 nice !

[2020-05-11 10:08] alexellis commented on #236
Derek close: duplicate of #106

[2020-05-11 10:08] #236 closed

[2020-05-14 08:18] moritz31 commented on #237
Hey @alexellis did you look over my pr? If you want me to change the behaviour like you described, feel free to ask me to change this.

[2020-05-14 18:34] peterwishart commented on #226
I had a similar problem, I fixed it by forcing PEM format for openssh with  'ssh-keygen -m PEM` - worked fine with a passphrase. Not sure how you'd covert existing keys if you had to though.

[2020-05-14 18:54] alexellis commented on #226
Hi @kamikaze and @peterwishart - thanks for your interest in k3sup.

It appears that we added support for this a long time back in #8. Are you staying that your version of `ssh-keygen` is generating a key in a different encrypted format to the one we added support for? Are either of you interested in contributing?

Alex

[2020-05-18 11:13] peterwishart commented on #226
Hi Alex.
As far as I can tell the problem is due to `ssh-keygen` [changing its default format (and encryption) for private keys](https://www.openssh.com/txt/release-7.8) from OpenSSL PEM format to proprietary OpenSSH format.

I can see a related golang issue [here](https://github.com/golang/go/issues/18692) but not _entirely_ sure how to apply that to `k3sup` - will contribute a fix if I can work

[2020-05-21 18:23] chriskinsman opened #243 "Support request for Traefik2"
## Expected Behaviour
Expect that all IngressRoute CRDs would be installed

## Current Behaviour
Not installed

## Possible Solution
Install and update ClusterRole to have access

## Steps to Reproduce (for bugs)
1. Base k3sup install
2.
3.
4.

## Context
Trying to setup IngressRouteTCP but have to install the CRDs and update the roles to get there

## Your Environment
Raspbian Buster Pi 3B+

* Wh

[2020-05-21 19:13] alexellis commented on #243
Hi,

Thanks for using arkade.

Can you give the full output please? :-)

and `kubectl get crd` too

Alex

[2020-05-21 19:14] alexellis commented on #243
/set title: Support request for Traefik2

[2020-05-21 19:14] alexellis commented on #243
@Waterdrips do you have time to try this out and verify if the CRDs are installed? And whether the Traefik team changed how their chart worked?

[2020-05-21 19:16] chriskinsman commented on #243
I have manually installed the CRDs at this point in an attempt to get this working.  Going to read through the code to see how you are installing the charts.

Are the CRDs a Traefik2 thing instead of 1.7?  Not super familiar with traffic but trying to figure out how to route TCP requests in bound and looks like I need IngressRouteTCP which isn't in place with the k3sup install I did.

[2020-05-21 19:20] alexellis commented on #243
So if you had an error, and you're using k3s, then that's because k3s ships with Traefik 1 built-in. Delete your cluster and install it again with `k3sup install --no-extras` or just pass the argument to disable Traefik 1.

We do have this documented.

[2020-05-21 19:20] #243 closed

[2020-05-21 19:21] alexellis commented on #243
Fairly sure we have found the source of the problem here so I'll close out, but please feel free to join Slack and get technical support there from the community. If we have a confirmed issue with arkade, I'll re-open the issue and we'll look into a fix.

[2020-05-21 19:21] alexellis commented on #243
See how @Waterdrips uses `--no-extras` in this blog post -> https://www.openfaas.com/blog/cloud-native-tools-webinar/

[2020-05-21 19:24] alexellis commented on #243
Also, this appears to be in the wrong repo - any issues about arkade apps like traefik2 should be directed there. I'll move the issue across.

https://slack.openfaas.io/

[2020-05-24 07:20] TechGuyTN commented on #15
Were you ever able to get a tutorial together @vattybear ? If not I would be willing to give it a go @alexellis

[2020-05-24 08:03] vattybear commented on #15
Hello.. I wrote almost everything for a tutorial into the issue and then lost track... happy for anyone else to pickup on any tutorial since a lot has happened with k3sup and the ecosystem since this issue was originally raised..  thanks! On 24 May 2020 08:20, Aaron Holt <notifications@github.com> wrote:
Were you ever able to get a tutorial together @vattybear ? If not I would be willing to give i

[2020-05-25 04:12] TechGuyTN commented on #15
I've got some time with tomorrow being a holiday here in the USA, I will give it a go and report back sometime in the next few days @vattybear

[2020-05-25 08:05] TechGuyTN commented on #15
OK so over the last 4 hours I have put together a rough draft, this is the install that worked for me. If you have any suggestions please feel free to make a PR. @vattybear

If you find this sufficient I will create a blog post/article on dev.to as you suggested @alexellis

[2020-05-26 09:37] TechGuyTN commented on #15
Ok I'm not sure why I didn't think about using gitbash before but here goes. Able to create a Multi-master HA Kubernetes using K3Sup on Windows10/Server 2019. @alexellis @vattybear

https://github.com/TechGuyTN/K3Sup-Windows10

[2020-05-26 09:45] alexellis commented on #15
Hi both, please feel free to go nuts - the more tutorials the merrier. There are no k3sup stickers, but I'll send you a little selection if you publish a decent blog post or lab. :-) Hope that sounds fair.

[2020-05-27 23:47] Rblock919 commented on #63
Was this ever resolved some other way? I'm running ubuntu server 18.04 raspberry pi image on a model 3B+ and am running into the same issue. Only omitting the user isn't working for me so I can't seem to install anything onto my cluster. When running `arkade install openfaas` on the pi directly the helm upgrade commands errors out with `Error: UPGRADE FAILED: query: failed to query with labels: Ge

[2020-05-30 18:00] oskapt opened #245 "Certain combinations of flags need to be escaped"
I reinstalled a k3s cluster built with `--no-extras` and added `--k3s-extra-args="--flannel-backend=host-gw". The cluster failed to start.

I logged in and saw that the output of `ps` showed the following:
[code]

Note that there is no space between `host-gw` and `--no-deploy` for `servicelb`.

Full command to reproduce:

[code]

k3sup version: 0.9.2
k3s version: v1.17.2+k3s1

I resolved it by usi

[2020-06-02 14:12] bahorn opened #247 "Customising the URL for fetching k3s"
When setting up several VMs on the same network, using a local mirror can massively speedup the setup time, which can be achieved by allowing a custom script to be used for installing k3s.

This relates to #231, but allows some more customization.

## Expected Behaviour

An extra optional command line flag for specifying where to find the install script, so user customization can be made. (i.e cha

[2020-06-02 14:43] alexellis commented on #247
How many machines are you provisioning, and how limited is your bandwidth that 50MB per node is noticeable?

[2020-06-02 14:43] alexellis commented on #247
I think we need to look at the way Rancher suggest air-gapping, and perhaps give that as the solution?

[2020-06-02 14:53] bahorn commented on #247
I was provisioning 4 machines on a 50Mbps connection. It's not crazy long, but I'm using it mostly a test cluster where I've been recreating a few times.

But looking into, the airgap install process would definitely be the better solution to this.

[2020-06-03 07:49] Waterdrips commented on #247
Could SCPing the files from the provisioning machine be an option? (as part of k3sup, behind a flag)

[2020-06-03 16:35] bahorn commented on #247
@Waterdrips
That'd be how I'd do it. Main concern is it'd need an extra dependency for SCP, and I'm not sure which libraries are mature.

[2020-06-05 20:47] mikecardwell commented on #99
Same problem here. I don't think it's that unusual to use smartcards/yubikeys etc nowadays.

[2020-06-28 20:18] mhemeryck commented on #226
I have a somehow related issue in the sense that I don't store any ssh key locally on my machine. Instead, I have my gpg auth subkey on a smart card, which gpg can export as ssh key via gpg-agent to ssh-agent. It's probably a long shot, but do you have an idea how I could use k3sup in this setup?

My guess is that `k3sup` really expects a private key file to read from, which is simply does not exi

[2020-07-04 02:44] felipellrocha commented on #232
Running into this issue, but for me it doesn't work at all

[2020-07-04 06:21] alexellis commented on #232
/msg: k3s

[2020-07-04 06:22] #232 closed

[2020-07-04 17:37] felipellrocha commented on #232
Hey, man. The closing reason makes sense, but since this project installs k3s for you, then I do believe this would still be an issue here. If you want to make it as transparent as possible for the user, the project should detect the bad install, and try a prior version. Just one possibility here...

[2020-07-04 19:33] alexellis commented on #232
You have an error with the k3s project's installer script, not with k3sup. I don't mind you asking for help and support here (which is what you've done) and I've given you support and given you a next action.

Clearly the k3s team have not added support for Alpine Linux, or haven't tested that combination, it's not within the remit of k3s to work around that. Please could you go ahead and raise an

[2020-07-06 18:37] mcaljamj opened #253 "Support issue with k3s installation"
I ran the install command on ubuntu 20.04 server targeting the machine i was running on.

## Expected Behaviour
The service should start so that the install command can complete successfully

## Current Behaviour
while running the install command the the newly created service fails to start.

## Steps to Reproduce (for bugs)

[code]

i have also tried it using --local as opposed to the --ip, with

[2020-07-19 15:06] alexellis opened #254 "[Feature] HA with Postgres, mysql and etcd"
## Feature

Add the flags that enable HA for k3s with Postgres, mysql and etcd.

Rancher documents the features, we just need to add the flags and set the appropriate variables when installing over SSH

https://rancher.com/docs/k3s/latest/en/installation/ha/

## Code that needs a change

https://github.com/alexellis/k3sup/blob/master/cmd/install.go

## Context

DQLite is the option we have support

[2020-07-19 17:40] oschrenk opened #255 "Support for different ssh-agent (smartcards)"
I am using https://github.com/FiloSottile/yubikey-agent as my ssh-agent. That especially means that there is no private key on my hard drive, but it only lives on the smart card, where it can not be extracted from.

For my normal ssh related things, I set `export SSH_AUTH_SOCK="/usr/local/var/run/yubikey-agent.sock"` and have the agent running in the background.

This https://github.com/alexellis/

[2020-07-20 07:28] alexellis commented on #253
Hi, thank you for all this diagnostic information.

I would suggest that you take it over to the Rancher k3s repo and log it there, (edit / copy / paste) since this is not an issue with k3sup (k3s installer), but with k3s itself.

Regards,

Alex

[2020-07-20 07:28] alexellis commented on #253
/set title: Support issue with k3s installation

[2020-07-20 07:28] alexellis commented on #253
/msg: rancher

[2020-07-20 07:29] alexellis commented on #253
/msg: k3s

[2020-07-20 07:29] #253 closed

[2020-07-21 01:34] rpgwaiter opened #256 "K3s support request"
## Expected Behaviour
After creating a cluster of Raspberry Pi's following the micro-tutorial on the k3sup readme, 'kubectl get nodes' should return information about the k8s nodes that were created

## Current Behaviour
Instead, it returns:

Error from server (ServiceUnavailable): the server is currently unable to handle the request

## Steps to Reproduce (for bugs)
Fresh install of Raspberry Pi

[2020-07-21 08:44] alexellis commented on #256
/msg: k3s

[2020-07-21 08:44] alexellis commented on #256
/set title: K3s support request

[2020-07-21 08:44] #256 closed

[2020-07-22 22:14] xnutsive opened #258 "Feature request: Support for k3sup install against systems without bash"
I was trying k3sup the other day, and ended up picking rancher/k3s-ansible. K3sup didn't work because of the way fish shell handles command substitutions.

It's probably and easy fix, and I'd be down implementing it, if you think it's a good idea? WDYT @alexellis?

## Expected Behaviour
When someone is using fish and running k3sup, it should just work out of the box without any extra settings just

[2020-07-22 22:19] alexellis commented on #258
Hi are you saying that you installed fish shell for your user on your RPi?

[2020-07-23 00:08] xnutsive commented on #258
/me looks around, embarassed

Yes.

I mean, another dummy-proof way of fixing this would be to `/usr/bin/bash -c "actual command"` — again, I'm down to look into it ;)

On Wed, Jul 22, 2020 at 3:19 PM, Alex Ellis < notifications@github.com > wrote:

[2020-08-03 16:58] alexellis commented on #237
Thanks for the PR, it's on my list.

[2020-08-16 14:43] TrupakTech commented on #255
This has caused me a lot of frustration. Is there a fix to this?

[2020-08-16 14:50] TrupakTech commented on #99
This would have been such a joy but for this one slip-up.
I can find no work-around for this. :(

[2020-08-16 16:41] alexellis commented on #258
This seems like an edge-case to me, if you'd told me k3sup wasn't working with Fish on your Mac or WSL2 client, I think it may be different, but generally RPis are throw-away when used with Kubernetes, since it's likely that they will need to be re-flashed. Users shouldn't really be logging in and making them into "pets" with lots of customisations.

If you want to try out passing `/usr/bin/bash -

[2020-08-16 16:41] alexellis commented on #258
/set title: Support for k3sup install against systems without bash

[2020-08-16 16:41] alexellis commented on #258
/set title: Feature request: Support for k3sup install against systems without bash

[2020-08-16 16:43] alexellis commented on #234
k3sup is a k3s installer, so this seems out of scope for k3sup. I do think it may be useful however, so I would ask you to raise an issue with the Rancher folks on the k3s repo. Ask them to make it part of the installer, then we can reference that via an additional flag.

[2020-08-16 16:43] alexellis commented on #234
k3s repo -> https://github.com/rancher/k3s/issues

[2020-08-16 16:43] #234 closed

[2020-08-16 16:43] alexellis commented on #234
/set title: Feature request to apply Rancher's Hardening Guide

[2020-08-16 16:44] alexellis commented on #255
Thanks for the feedback @oschrenk, do you think this issue can be closed as a duplicate of #226 which you referenced?

[2020-08-16 16:47] alexellis commented on #255
Using a Yubikey for storing SSH keys appears to have certain server-side requirements, that may need to be considered -> https://news.ycombinator.com/item?id=23130053

[2020-08-16 16:51] alexellis commented on #226
@peterwishart how did your investigations go, did you manage to prepare a patch?

[2020-08-16 16:55] alexellis commented on #226
There may be some support, in a version of Golang: https://go-review.googlesource.com/c/crypto/+/207600/

@mhemeryck there's a separate issue for your scenario over at #255

It also looks like Yubikeys do not integrate well with most versions of SSH, and require a much more recent package.

[2020-08-16 16:55] alexellis commented on #226
@kamikaze can you show me how to reproduce this? The instructions don't work for me, I need something like a Dockerfile command so that I can create an encrypted key like yours.

Thanks

[2020-08-16 16:56] alexellis commented on #226
/set title: Feature request: Support new-format of encrypted OpenSSH keys

[2020-08-16 17:01] alexellis commented on #255
Having refreshed my memory, this issue doesn't appear to be a duplicate of #226, however I would like to make this issue properly scoped to your specific needs.

My immediate suggestions are for you to look at other projects that use SSH to automate infrastructure, and browse their past issues:

* https://github.com/ansible/ansible/issues
* https://github.com/kubicorn/kubicorn/issues
* https://git

[2020-08-16 17:09] alexellis opened #259 "[Feature] Host key validation"
[Feature] Host key validation

## Expected Behaviour

Most solutions which consume SSH will always, strictly validate SSH Host keys, to make sure that the host being connected to by the client is as expected.

I suspect that most of the time, people type in "yes" without looking at the host key, and without verifying it.

After accepting the Host key, it gets stored in `~/.ssh/known_hosts` on its

[2020-08-16 17:10] #163 closed

[2020-08-16 17:10] alexellis commented on #163
This has moved over to arkade, which now has 1-2 dozen Kubernetes-type CLIs via `arkade get`

https://github.com/alexellis/arkade

[2020-08-16 17:12] alexellis commented on #245
Hi @oskapt thanks for raising this issue.

Can you share the SSH command that is executed from the below?

[code]

I suspect this may need some additional embedded quotes in the string that is sent over SSH.

Alex

[2020-08-16 17:12] alexellis commented on #245
/add label: good first issue,help wanted,support

[2020-08-16 17:13] alexellis commented on #245
/set title: Certain combinations of flags need to be escaped

[2020-08-16 17:13] #161 closed

[2020-08-16 17:14] alexellis commented on #99
From reading the code, any SSH agent given is used, when set in the env-var `SSH_AUTH_SOCK`

https://github.com/alexellis/k3sup/blob/master/cmd/install.go#L279

Folks please give that a shot and report back with **steps on how to reproduce** your individual error.

[2020-08-16 17:15] alexellis commented on #99
/set title: Error when using ed25519 key

[2020-08-16 17:15] alexellis commented on #99
/add label: support,help wanted,good first issue

[2020-08-16 17:16] alexellis commented on #255
/add title: support,good first issue,help wanted

[2020-08-16 17:16] alexellis commented on #254
/add title: good first issue,help wanted

[2020-08-16 17:16] alexellis commented on #63
/add title: support,good first issue,help wanted

[2020-08-16 17:16] alexellis commented on #63
@cbrachem would you like to send a PR?

[2020-08-16 17:16] alexellis commented on #63
/add label: support,good first issue,help wanted

[2020-08-16 22:05] peterwishart commented on #226
Hi Alex, I didn't sorry.
However I just tried it in ubuntu 20.04 and it worked.
When I wind this dockerfile back to k3sup 0.9.3 it repros the failure, looks to have been fixed in 0.9.4 onwards.
[code]

[2020-08-17 10:10] hrak commented on #99
@alexellis this title change is incorrect. The issue is not with ed25519 keys (well, maybe there is, but this issue is not about that). The issue is that k3sup fails to do agent based auth in a 'jump host' scenario

f.e. i have 3 VM's in a isolated/private network with source NAT and 1 public IP. I forward port 22 from my pub IP to one of them and call this the master. The other two VM's will be m

[2020-08-17 10:38] alexellis commented on #99
This is what you wrote in your report

Thank you for taking the time to explain the issue with more context.

[2020-08-17 14:59] alexellis commented on #99
So it seems like there may be two issues:

1) It seems that the ed25519 key isn't being loaded. Can you try to reproduce this in a basic scenario where the host is reachable and raise a separate issue if so? The output message showing `-I` is also confusing people, so I have completely removed it from k3sup.

2) There seems to be a story about using a jump host to shell into other hosts on another

[2020-08-17 14:59] #254 closed

[2020-08-18 07:09] mhemeryck commented on #255
FYI: I use a similar mechanism, but using `gpg-agent` instead instead of this custom yubikey agent:

[code]

The key is stored as a GPG key on the yubikey, and then offered as SSH key through the GPG agent.

[2020-08-24 15:42] woa7 commented on #226
with k3sup 0.9.6 it dont work for me:

the ssh-agent / ssh-add works as normal:
root@ubuntu-1804:~# ssh-add -l
256 SHA256:XXXXXXXXXXXXXXXXXXX ed25519-key (ED25519)
root@ubuntu-1804:~#

root@ubuntu-1804:~# ssh 127.0.0.1
Welcome to Ubuntu 18.04.5 LTS (GNU/Linux 4.15.0-112-generic x86_64)
Last login: Mon Aug 24 17:20:40 2020 from xxxxx
root@ubuntu:~#

root@ubuntu:~# ssh $SERVER_IP
Welcome to Ubuntu 2

[2020-08-24 16:28] alexellis commented on #226
@peterwishart I've not seen `k3sup install` used, does it just install to localhost?

Thanks for the repo for generating a key in the said format, that should allow us to create a key and try it out.

@woa7 how did you generate your key?

If you're trying to use an SSH agent, you may need to start it first, then set the appropriate ENV-var to be picked up by k3sup: (`SSH_AGENT_SOCK` (I believe))

[2020-08-24 17:03] peterwishart commented on #226
Yes it acts as if ` --ip 127.0.0.1` was passed, and installs locally via `ssh`.
It doesn't _successfully_ install `k3s` in the container, this was just the bare minimum to trigger `cannot decode encrypted private keys` the way I found it before.

[2020-08-25 11:11] woa7 commented on #226
@alexellis can you please add a option, to call the ssh binary form the OS?
with this the openssh will be taken care of all "problems".

[2020-08-27 06:03] number5 commented on #232
FYI there are specific preinstall instructions for Alpine for K3s now https://rancher.com/docs/k3s/latest/en/advanced/#additional-preparation-for-alpine-linux-setup

[2020-08-28 19:33] eloekset commented on #100
@qmacro how did you export kubeconfig after using the command in the video you linked to? I successfully installed on all nodes using your command, but then I can't use kubectl because of missing kubeconfig.
![image](https://user-images.githubusercontent.com/791721/91608579-18d13d00-e976-11ea-9289-f846f8e40025.png)

@alexellis when is that -t option supported? I tried running `k3sup install --ip $

[2020-08-29 09:51] alexellis commented on #100
What kind of cloud images are folks using where the remote machine has sudo requiring a password? k3sup and the k3s installer are relying on a password-less sudo configuration.

I don't think that make k3sup require an interactive prompt is the right answer, imagine you're creating a cluster with 10 nodes (1 master, 9 clients), you'll have to type the password in ~ 20 times.

[2020-08-29 09:59] eloekset commented on #100
Maybe my case is not so relevant for k3sup. I'm just trying to learn Kubernetes using an on-prem box running Promox with four nodes on Ubuntu Server 18.04.5.
![image](https://user-images.githubusercontent.com/791721/91634209-efa0c300-e9ee-11ea-90d0-06ad3dc4eaf3.png)

I think I'll try to do a more manual setup first to learn the basics following this video maybe: https://www.youtube.com/watch?v=XQv

[2020-08-29 11:16] eloekset commented on #100
I'm setting up new VMs now, and I plan to follow [this guide](https://github.com/justmeandopensource/kubernetes/blob/master/docs/install-cluster-ubuntu-20.md).

I've never thought of it until now, this might be the reason my VMs require option `-t`?
![image](https://user-images.githubusercontent.com/791721/91635520-7a86bb00-e9f9-11ea-8657-c80ab3dc04aa.png)

[2020-08-30 07:36] bbhenry commented on #63
I am having the same issue on OSX

[2020-08-31 02:06] anuaimi opened #263 "Feature Request: command to return version of k3s supported"
I use k3sup to create k3s clusters.  These clusters are long living so they need to be upgraded periodically.  While it is easy to query a cluster to see what version it is based on, there is no easy way to know when k3sup supports a new version of k3s. It would be great to have a command that returns what version of k3s it installs.  It might be as simple as adding the k3s version to the output o

[2020-08-31 02:09] anuaimi opened #264 "Feature Request: publish k3sup to home-brew"
There is no easy way for code to know if there is a new version of k3sup.  If k3sup was installed with a package manager rather than using curl, it would be easy to see if there was a new version and get it.

## Expected Behaviour

the only way to do keep k3sup up to date on a machine is to re-install it periodically and then check the version.   This is not very efficient.   It would be better to

[2020-09-02 14:03] mehdihadeli opened #265 "problem in installing k3s in local machine with k3sup"
Hi,
I want to setup k3s on my local machine with this command

` export SERVER_IP=127.0.0.1`
`k3sup install --ip $SERVER_IP --user root --local-path=./kubeconfig`

but I get this error:

what is the problem? why it needs a key?

[2020-09-02 14:41] mehdihadeli commented on #265
I used this command and it works correctly.

`k3sup install --local`

[2020-09-02 14:41] #265 closed

[2020-09-06 18:55] amalkh5 commented on #264
@anuaimi k3sup is now available in homebrew, check https://github.com/alexellis/homebrew-alexellis

[2020-09-08 09:03] worldofgeese commented on #255
I use gpg-agent as my ssh agent and even with SSH_AUTH_SOCK set, k3sup still wants a key under $HOME/.ssh.

[2020-09-08 10:16] mhemeryck commented on #255
Yes, it's the same issue I am facing.

[2020-09-08 20:09] anuaimi commented on #264
awsome

[2020-09-08 20:09] #264 closed

[2020-09-08 20:22] anuaimi opened #266 "have k3sup dynamically get latest version of k3s"
rather than hard-coding the k3s version, k3sup should use the github api to query the k3s repo to get the latest version. it should then install that version.
Also, it would be great to have a command to list the versions of k3s that are available to be installed.
There is already a way for a user to specify the version they want so that doesn't need to change

The main benefit of this are
a) uses

[2020-09-08 21:48] kevinbluer commented on #63
happy to submit a PR for this @alexellis if it's still needed?

[2020-09-09 15:03] worldofgeese commented on #255
@alexellis is this intended behavior?

[2020-09-17 14:20] Develoman commented on #100
The user vm1 est sudoer in os alpine at ip 192.168.20.142.
'''k3sup install --ip 192.168.20.142 --user vm1'''

sudo: a terminal is required to read the password; either use the -S option to read from standard input or configure an askpass helper
Error: error received processing command: Process exited with status 1

[2020-09-18 01:13] syuan100 commented on #63
I'm also getting this error, running on Ubuntu 20.04 on an RPi4

[2020-09-21 17:35] tetrash commented on #245
Hi 👋, I'd like to pick it up

[2020-09-23 16:58] cbrachem commented on #63
@alexellis

I can't, you fixed the issue I was having last December with commit ecd37d08436335c5f7f23650be23a65e4731f321. What's there now must be another thing.

[2020-09-29 07:23] adrianmace opened #267 "WSL2 - Segmentation Fault"
## Expected Behaviour

`k3sup --help` should give the help contents.

## Current Behaviour

`k3sup --help` causes a Segmentation Fault

## Possible Solution

Have to switch to the PowerShell and run it with Windows installation instructions. Downside is that my SSH keys are in my WSL2 Ubuntu installation.

## Steps to Reproduce (for bugs)

1. WSL2 using Ubuntu 20.04 LTS (x64 host machine)
2. Follo

[2020-09-29 07:23] adrianmace commented on #267
A picture is worth 1000 words..
![image](https://user-images.githubusercontent.com/5071859/94526197-870c6680-0278-11eb-8c27-439fdd064e02.png)

[2020-09-29 07:28] adrianmace commented on #267
Closed. Running the following steps fixed this issue (note the omission of `sudo` where I thought I was smart in the first attempt)
[code]

[2020-09-29 07:28] #267 closed

[2020-09-30 03:42] jontg opened #268 "Parameter Concatenation is busted!"
Trying to spin up an HA cluster with `--datastore` and `--k3s-extra-args` results in an invalid k3s service config.

## Expected Behaviour
Try starting up a node
[code]
and experience the joy of a service that came up successfully.
[code]

## Current Behaviour
Try starting up a node
[code]
and weep the tears of an administrator whose service failed to come up successfully.
[code]

## Steps to Repr

[2020-09-30 18:01] mcuix opened #269 "Unable to resolve get.k3s.io"
k3sup install --ip 192.168.1.93 --user myuser
Running: k3sup install
Public IP: 192.168.1.93
curl: (6) Could not resolve host: get.k3s.io
Result:  curl: (6) Could not resolve host: get.k3s.io

## Expected Behaviour
Create node on Raspberry Pi

## Current Behaviour
Cannot resolve get.k3s.io

## Your Environment

* k3sup

Linux

[2020-09-30 18:05] #269 closed

[2020-09-30 18:07] alexellis commented on #269
Thank you for your interest but I'm going to be closing this as a technical support request. There's no issue with k3sup here.

Your next action is to check your DNS and network configuration on the Raspberry Pi. You'll find help on the Raspberry Pi forums for this.

Once you fix your RPi, k3sup will function as expected.

[2020-09-30 22:29] alexellis commented on #267
I'm not sure why you ran sudo install? The bash script already does that. You only need the first instruction, which appeared to work when k3sup printed its version.

What's the issue and how did you solve it?

[2020-10-01 16:35] scanepa commented on #259
It may be a stupid question but I'll ask anyway: did you evaluate the idea of using certificates instead of private/public key?

[2020-10-01 20:50] alexellis commented on #259
@scanepa it really comes down to what users are doing, rather than what we think is the best practice in the industry. How much of an infrastructure and on boarding burden is there, if all users are forced to use SSH certificates?

Would you mind answering the above, and giving a proposal of how you'd see things working?

[2020-10-01 21:35] scanepa commented on #259
Forcing all users to get SSH certificates requires a certification authority for sure, some tool/human to sign keys and distribute user
certificates, the installation on the destination host of the trusted CA keys, plus some steps that I'm quite sure now I'm forgetting.
I'm assuming the creation of the CA can be automated, but all other steps not, especially in the case of baremetal manually deplo

[2020-10-01 21:53] alexellis commented on #259
I'm not keen on using language like "stupid" on this project. Let's try and keep things objective.

Having the host key accepted on first connection is a bad default, but generally accepted. We could do that and validate on the second connection. This would become more necessary if users connected more than once to a machine with k3sup - i.e. an "apply" or upgrade/remove feature.

[2020-10-01 22:12] scanepa commented on #259
Sorry but I meant no offence, I just forgot you and all people reading this cannot see my smiling and embarrassed expression when I realised my idea is most likely adding more burden than needed.

The best way to measure pros and cons could be a POC so let's see what I can setup with the hardware or VM I have around

[2020-10-02 05:46] Waterdrips commented on #268
Hi @jontg . Thanks for the good writeup of the issue.

Would you like to try and fix the problem or should we put it on the list of things to fix?

Thanks,

Alistair

[2020-10-06 19:44] ImIOImI opened #271 "Feature Request: Pass an optional url instead of server ip address to join nodes"
I'm building out a k3s cluster in AWS with Terraform and using ip addresses to bootstrap the cluster is not optimal. I'd rather create internal load balancers and/or internal Route53 addresses to point to auto scaling instances (especially for the server ip for the join command).

Given the current options, the best solution I've found is to use a cloud-init to provision an agent node to look up t

[2020-10-06 19:52] alexellis commented on #271
Hi @ImIOImI thank you for your interest in k3sup.

It'd be appreciated if you could go ahead and [use the issue template](https://raw.githubusercontent.com/alexellis/k3sup/master/.github/ISSUE_TEMPLATE.md) (like everyone else does).

Also can you share some of your specific Terraform code? @Waterdrips has been doing a lot with Terraform of late and will probably have some ideas.

[2020-10-06 19:53] alexellis commented on #271
When filling out the issue template you can provide everything we require including: a possible solution and how you expect it to work for you.

[2020-10-06 20:12] ImIOImI commented on #271
Sorry about that, I didn't look closely enough at the alternate guidance for feature requests.

Urls are portable abstractions for ip addresses. Ip addresses change based on auto scaling instances changing, servers being upgraded and replaced, etc.

## Expected Behaviour
I'd like to make passing an ip address optional and having urls be an option as well.

## Current Behaviour
Passing ip addresses

[2020-10-06 20:18] alexellis commented on #271
Thank you for using the template.

Can you edit and give a concrete example of the proposed join command with real values?

[2020-10-06 20:24] ImIOImI commented on #271
Got it. Hope that helps.

[2020-10-06 20:28] ImIOImI commented on #271
My current cloud init looks like this. I ended up pulling the server out of an autoscaling group so I could grab it's private IP address. That works... it's just not as fault tolerant as I want it to be.

[code]

[2020-10-06 20:43] alexellis commented on #271
I'm looking into this myself, of providing more than one TLS San value, one for the LB and one for the IP of the node.

There's a chicken and egg problem in that you can't SSH to the server IP since it's an LB with multiple IPs behind it. You can use its IP and configure the server's TLS San using the LB IP

[2020-10-06 20:48] ImIOImI commented on #271
Right, this is why it's my plan to just run k3sup on each machine as it's booting up for the first time... so no ssh connection required. So that kills the need to know the agent nodes, but I still need to know how to get back to the server.

[2020-10-06 20:57] alexellis commented on #271
Isn't your LoadBalancer just an IP? Or are you saying that it's an ALB which only has a static DNS entry?

[2020-10-06 21:22] ImIOImI commented on #271
I use a mix between ALBs and ELBs depending on how pricing plays out... Regardless, you end up getting back a shared ip address that's used by a lot of accounts in the availability zone the lb is registered in.

[2020-10-07 10:50] alexellis commented on #263
Hi @anuaimi thank you for your interest in the project.

Have you thought about running `kubectl version` to see what version your cluster is running at?

How would you see your solution working? I noticed you didn't fill out "Possible Solution", would you mind doing so?

Alex

[2020-10-07 10:54] alexellis commented on #266
Installing the "latest" version of k3s is equivalent to using the :latest tag with Docker images, which is widely accepted as an anti-pattern. Why do we feel that this anti-pattern is acceptable with k3s, but not with container images I would welcome constructive thoughts around this.

k3s is used with many tutorials, and sometimes features will be deprecated in Kubernetes and k3s, so just "instal

[2020-10-07 10:55] alexellis commented on #268
Hi @jontg thanks for your report.

I actually had this working without error, as per the README, can you see how I did it there and try that?

We've had one or two issues with concatenation in the past which I expected to be fixed now, but as @Waterdrips says, we are open to pull requests from users.

Alex

[2020-10-07 10:56] alexellis commented on #268
See also: [Create a multi-master (HA) setup with external SQL](https://github.com/alexellis/k3sup#create-a-multi-master-ha-setup-with-external-sql)

I wonder if you could try this without your additional `--k3s-extra-args` flags to check that it works for you?

[2020-10-07 11:13] #258 closed

[2020-10-07 11:13] #222 closed

[2020-10-07 11:14] #247 closed

[2020-10-07 11:14] alexellis commented on #247
I'm not sure this is a main-stream request, but am happy to monitor the thread for demand and reconsider the request in the future.

[2020-10-07 11:14] #223 closed

[2020-10-07 11:15] alexellis commented on #223
"k3sup app install" has moved to arkade -> https://get-arkade.dev/ - feel free to raise an issue over there if there's ongoing issues.

[2020-10-07 11:42] alexellis commented on #268
Would you mind running the command again with the `--print-version` flag?

[2020-10-07 12:12] alexellis commented on #245
Please feel free to help us test out #272

[2020-10-07 12:15] clemenko opened #273 "Pass K3s Channel for install"
From : https://rancher.com/docs/k3s/latest/en/installation/install-options/

Have the ability to add `INSTALL_K3S_CHANNEL=latest` through k3sup when installing.
This will give the ability to choose either `stable` or `latest` when installing. This is helpful when testing out versions of k3s with other applications.

## Expected Behaviour
Adding `--k3s-channel`
[code]

## Current Behaviour
`--k3s-c

[2020-10-07 12:20] alexellis commented on #273
Hi @clemenko we have already had this request from other users and have been working on it for some time. Feel free to search past issues.

Your testing is welcome on #272

Alex

[2020-10-07 12:20] alexellis commented on #273
/close: duplicate

[2020-10-07 12:20] #273 closed

[2020-10-07 13:29] ImIOImI commented on #271
I went ahead and pulled out my repo from my current project and uploaded it. It's not pretty (yet), but it can show where I'm going and what I'm doing to code around this.

You can see in /config/cloud-init.yaml that I added this query to get the server ip:
[code]

So, (unlike the method I stated above) I am using a tag on the instance called "k3s-server" and using the awscli to describe my ec2 in

[2020-10-07 13:56] #237 closed

[2020-10-07 13:56] #266 closed

[2020-10-07 13:56] #268 closed

[2020-10-07 13:56] #183 closed

[2020-10-07 13:56] #245 closed

[2020-10-07 14:55] alexellis commented on #271
Thoughts on #272 ? Does this resolve the issue by giving you a `--tls-san`?

[2020-10-09 04:45] jontg commented on #268
Hey, sorry for the lack of response — github notifications don't appear to be sending.  It looks like I might be on an old release as that command fails?   I see that we released a new version
[code]

And thanks for the fix!

[2020-10-09 08:28] alexellis commented on #268
Yes you definitely need to upgrade to get fixes. Can you run your scenario with the latest version? See the example in the oil request.

[2020-10-09 08:29] alexellis commented on #268
Also it's --print-command - typo there on my behalf

[2020-10-15 15:09] ImIOImI commented on #271
Sorry for neglecting this. I've been able to get a working k3s cluster up on AWS (I'll be updating my terraform repo, shortly), now with k3s and I've got a bit more bandwidth to test this and improve what I built, now. How do you think I should modify the install/join commands to take advantage of the fix for concatenated strings? If you want to talk to me like I've only, actually, used k3s for 2

[2020-10-18 21:30] kingdonb commented on #99
I think I have both of those issues; and can help unroll this problem.

I can confirm I am not doing any weird stuff with ssh agents upfront, and I just have an ssh key on my workstation filesystem, and it is ed25519. I too "only" use ed25519, at least until I roll up on software that has some problem with ed25519, and then I usually would switch to RSA and move on. But I landed at this thread try

[2020-10-20 11:37] vbatts opened #274 "support flatcar as a target OS"
(inspired by your [tweet](https://twitter.com/alexellisuk/status/1318236599277203462/photo/1))

currently k3s runs like a champ on Flatcar, but the installer (get.k3s.io) needs the environment variables of `INSTALL_K3S_BIN_DIR=/opt/bin` and `INSTALL_K3S_SELINUX_WARN=true`.

## Expected Behaviour
a running k3s instance

## Current Behaviour
[code]

## Possible Solution
I began down the path of maki

[2020-10-20 11:48] alexellis commented on #274
Thanks for the issue @vbatts 👋

Part of the UX of k3sup is to abstract away verbose flags and environment variables, for instance `--k3s-channel` and `--no-extras`.

Given that these two values are required for Flatcar, I would be open to some sort of first-class flag to support it.

[code]

In additional to that feature, I also wonder if the `--k3s-extra-args` would take the `INSTALL_K3S_SELINUX_

[2020-10-20 19:57] bbhenry opened #275 "Add support for different agent user and agent ssh-key"
When creating a k3s cluster using k3sup, it currently assumes the server and agent are using the same ssh-key and same ssh user. When creating cluster with different distros of Linux on AWS, the default ssh users are different.

## Current Behaviour
- server is centos in AWS with default user `ec2-user`.
- agent is ubuntu in AWS with default user `ubuntu`.
- server and agent each has its own ssh k

[2020-10-20 20:58] bbhenry commented on #275
I just found out there's a `--server-user` parameter when using the `join` command. This is suffice for now.

[2020-10-20 20:58] #275 closed

[2020-10-21 10:44] alexellis opened #276 "Refactor the join command to have tested SSH commands"
## Expected Behaviour

We should refactor the join command to have tested SSH commands just like I did for the install command in this patch: https://github.com/alexellis/k3sup/commit/fd18d772401e5e1f895eb42c1bbd8c6f6e2ca260#diff-0ad45407eb1c7c8830d260d38994acb374ec5b7e36bc891e54406206074e5a99

## Current Behaviour

String concatenation with fmt.Sprintf, no regression tests

## Possible Solution

[2020-10-23 17:28] yankeexe opened #277 "Add Table of Contents for easy navigation of topics"
## Expected Behaviour

Table of contents on top of `README.md` with respective hyperlinks to the headings. Will enable:

1. easy overview of all features
2. easy navigation to desired feature.

## Current Behaviour

No Table of Contents, have to scroll through the whole page to get to the desired topic.

## Possible Solution

Adding Table of Contents.

## Context

have to scroll through the whole

[2020-10-23 18:01] alexellis commented on #277
Feel free to contribute this. I think the idea is fine 👍

[2020-10-23 18:09] yankeexe commented on #277
@alexellis sure

[2020-10-26 08:30] alexellis commented on #274
How does that sound @vbatts?

[2020-10-26 13:27] vbatts commented on #274
I don't think a `--flatcar` flag is ideal, as it ought not be considered a snowflake deployment, and wouldn't scale well as it obscures away choices, do you think?

Fully get wanting to make flags for things that the k3s installer takes in as env variables. The big one is `INSTALL_K3S_BIN_DIR=` and `INSTALL_K3S_SELINUX_WARN=`. perhaps `--k3s-env` is a better choice, as that doesn't bind `k3sup` to

[2020-10-26 17:19] alexellis commented on #274
Can you suggest some options for the UX of the CLI below? And which you like best? (both for the install + join commands)

[2020-10-29 19:14] rbucker commented on #28
Not all Linux distros are the same. I urge that this ticket be reopened or forked... I ran the install and join commands against VMware's PhotonOS v3 and had the same two errors.

- systemd type:exec error
- CA File missing and certs

If this is something that the user is supposed to do then a link to the docs would be helpful because not even the k3s docs mention these issues.

[2020-10-30 00:14] slemik1 commented on #100
Hello. This kind of problem often occurs with jenkins. There is a simple solution:
You need to create a file myuser, you can read in more detail here:
cat /etc/sudoers.d/README

Place the 0440 mode file in /etc/sudoers.d/myuser with the following content:
myuser ALL = (ALL) NOPASSWD: ALL
and don't forget to chmod 0440 /etc/sudoers.d/myuser

[2020-10-30 09:11] alexellis commented on #100
I'm going to close this issue as #wontfix but please feel free to keep commenting, and we may review it again in the future.

[2020-10-30 09:11] #100 closed

[2020-11-02 09:58] alexellis opened #279 "Convert CI to GitHub Actions"
## Task

Convert CI to GitHub Actions

## Context

Travis is removing its free tier for OSS projects, so this should be built with GitHub Actions instead, which is not going to add additional cost.

I would expect this to be one of the easier projects to convert given that Docker isn't used in the build.

See also:

https://github.com/mvdan/github-actions-golang
https://github.com/actions/create-r

[2020-11-02 16:00] isabellaliu77 commented on #279
can I try this?

[2020-11-02 18:51] alexellis commented on #279
Hi @isabellaliu77 we have a couple of things you can follow here, but I'd suggest [you take up the inletsctl PR](https://github.com/inlets/inletsctl/issues/81) instead as @Waterdrips has volunteered to take this one and we need it done as soon as possible.

All three should be very similar.

https://github.com/alexellis/k3sup/pull/280
Plus

https://github.com/alexellis/k3sup/commit/79720da83b69473

[2020-11-02 19:17] isabellaliu77 commented on #279
Thanks for your feedback. I'll take the inletsctl PR

[2020-11-09 16:32] developer-guy opened #282 "Pin GitHub Actions to Go 1.13"
Expected Behaviour
A specific Golang version should be used like the previous Travis build in the GitHub Actions for this project such as https://github.com/alexellis/k3sup/blob/master/.github/workflows/ci-only.yml

Current Behaviour
An unpredictable, but recent version is used.

Possible Solution
Pin GitHub Actions to Go 1.13

See how Akos did this for the faas-netes repo https://github.com/openf

[2020-11-10 14:15] ldng commented on #99
The issue is simple : why are you micro-managing ssh when you should not ?
You are making wrong assumptions on supposedly default ssh config resulting in problems that should not even be relevant to k3sup.

[2020-11-14 14:20] yankeexe opened #284 "k3s channels failing to work"
K3s now follows a different version naming scheme. Along with `semver` it has now added a postfix in the form of `+k3s<number>`.
More details can be found [here](https://github.com/rancher/k3s#release-cadence).

## Expected Behaviour

The default versioning of `k3s` to work i.e. `v1.18` with the install command.

[code]

## Current Behaviour

Throws an error; the pages with old versioning does not

[2020-11-14 14:53] alexellis commented on #284
Can you find confirmation about this please?

Any release notes? It seems bizarre to make a breaking change like this rather than phasing it out

[2020-11-14 15:39] alexellis commented on #284
Might be related to this https://github.com/rancher/k3s/issues/2531

[2020-11-14 15:40] alexellis commented on #284
/set title: k3s channels failing to work

[2020-11-14 17:05] yankeexe commented on #284
Yes, looks like it.

[2020-11-14 18:10] yankeexe commented on #284
@alexellis the channel is working now.

[2020-11-14 18:18] #284 closed

[2020-11-17 15:10] therealburningman opened #287 "k3sup join results in unable to get join-token from server"
Early exit due to "unable to get join-token from server" error when joining a k3s agent.

## Expected Behaviour
I expect k3sup to succesfully join a k3s cluster (agent)

## Current Behaviour
[code]

## Possible Solution
I've research the k3sup Go source code and conclude I am doing the right thing. The actual node-token is retrieved using a sudo command because `useSudo` is set to true (default va

[2020-11-17 15:22] therealburningman commented on #287
I've mixed up the --ip and --server-ip addresses.

[2020-11-17 15:22] #287 closed

[2020-11-17 16:50] alexellis commented on #287
No worries Hans. Glad you figured it out!

[2020-11-17 16:50] alexellis commented on #287
/lock

[2020-11-19 11:45] therealburningman opened #288 "k3sup install --k3s-extra-args '--no-traefik' doesn't skip installing traefik on k3s"
## Expected Behaviour
Don't install traefik.

## Current Behaviour
installs traefik

## Steps to Reproduce (for bugs)
1. `k3sup install --k3s-extra-args '--no-deploy traefik' --ip 192.168.1.12 --user pi --cluster --k3s-version v1.19.1+k3s1 --ssh-key ~/.ssh/id_ed25519`

## Your Environment

* What Kubernetes distribution are you using?

[code]

* What OS or type or VM are you using for your cluster

[2020-11-19 12:13] alexellis commented on #288
I'm a bit confused with this bug report. I thought you said on slack that you used `--no-extras` and that it still installed Traefik?

That's not what you've reported here. Help me understand.

[2020-11-19 12:13] #288 closed

[2020-11-19 12:13] alexellis commented on #288
I think you wanted `'--no-deploy traefik'` so I'm going to close this, but am happy to re-open if you run into a different issue.

From the README:

[2020-11-19 12:17] alexellis commented on #288
[code]

No Traefik:

[code]

[2020-11-19 12:18] alexellis commented on #288
`--no-extras` seems to work as expected too:

[code]

[2020-11-19 12:19] alexellis commented on #288
/set title: Support issue

[2020-11-19 21:24] therealburningman commented on #288
Could the exception be that I used the `--cluster` argument? Because I get traefik installed with both `--no-extras` and `--k3s-extra-args '--no-deploy traefik'`.

[2020-11-20 18:25] alexellis commented on #274
@vbatts I can't even imagine how busy you are. How do we get this moved forward? What about my comment above?

[2020-11-20 18:44] alexellis commented on #274
If https://github.com/rancher/k3s/pull/2551 is merged, it looks like we may not need to change k3sup.

the `--k3sup-env` is something we could have, could be useful. We could do that now and have nobody use it (nobody else has asked for it) or wait until someone asks and then add it. K3sup remains maintainable by keeping things options lean.

[2020-11-20 18:45] vbatts commented on #274
*`--k3s-env` :wink:

[2020-11-22 23:23] genebean commented on #99
For me, I do not have ssh key files: my ssh key resides on my Yubikey.

[code]

My `.zshrc` contains this:

[code]

The above bit can be seen in my current shell like so:

[code]

This setup worked fine with `ssh-copy-id pi@doublequad.local` and I can ssh to it now without being prompted yet the following occurs when trying to use `k3sup`:

[code]
For additional context, here are the other files t

[2020-11-26 09:55] spqa commented on #271
I use this command and it work well
[code]
It generate systemd service like this so i guess it working fine:
[code]
It would be nice if we have a better flag though.

[2020-11-30 10:03] alexellis commented on #131
Can you evidence that @klmcwhirter?

[2020-11-30 10:47] #131 closed

[2020-11-30 10:47] #271 closed

[2020-12-05 02:33] vbatts commented on #274
Upstream merged!

[2020-12-09 15:15] vbatts commented on #274
this Just Works:tm: now.

[code]

[2020-12-09 15:15] #274 closed

[2021-01-07 01:34] antoninbas opened #294 "Incorrect kubeconfig when providing hostname instead of IP (EC2)"
Following the instructions in the README (https://github.com/alexellis/k3sup#-setup-a-kubernetes-server-with-k3sup) to create a k3s cluster on EC2 (see command below) yields an incorrect kubeconfig.

[code]

## Expected Behaviour
The kubeconfig should have `server` set to `$HOST` (i.e. the public DNS name of the EC2 instance).

## Current Behaviour
The string substitution does not happen and the s

[2021-01-08 16:01] #294 closed

[2021-01-12 20:55] aymond commented on #247
Such a feature would really help me out.

There seems to be an issue in Germany with some ISPs having throttled or limited bandwidth for downloads from AWS S3 US Endpoints with pre-signed URLs. A download of the k3s binary may take 30-45 minutes, a pain if setting up a few machines in a cluster, or if something goes wrong and need to start over.

Example from browser based download below:

[code]

[2021-01-14 16:47] dannyjknights opened #296 "Worker node not joining the cluster"
## k3sup join successful but not showing as part of the cluster
I ran the `k3sup join --ip 192.168.0.49 --server-ip 192.168.0.45` command and it completed correctly. SSH onto the worker node now gives me `kubectl` command options.

When going on to the master node and running `sudo kubectl get node`, I only see the master and not the worker.

Has anyone come across this issue before? Apologies as

[2021-01-14 19:34] alexellis commented on #296
Hi you're not meant to run kubectl on the server at all. That's why you get a local file.

You'll have to debug k3s yourself - look at the logs on your agent and server process. The k3s docs should help you there.

Closing this as technical support, rather than a bug. Happy to reopen if you can prove we have a bug in k3sup.

Also make sure you follow a tutorial so you are enabling cgroups in your

[2021-01-14 19:34] #296 closed

[2021-01-15 07:56] dannyjknights commented on #296
Thank you Alex and apologies, it's not a bug as you rightly say, I was just looking for some help and didn't know where to ask it. I will read your tutorial and look at the logs. So am I not supposed to run `sudo kubectl get node` from the master node?

Many thanks for getting back to me

[2021-01-16 17:48] alexellis commented on #296
This is the workflow.

From your laptop run k3sup - either merge the Kubeconfig or save it to a local file.

Next, point your local kubectl at that config file.

Next, do whatever you need to, just like with a managed cloud.

You can also run arkade in the same way and use k3sup to add additional nodes in.

Rancher slack is a good place to get k3s support, and check their docs. You need to look at

[2021-01-16 22:06] weberc2 commented on #95
I'm running into a similar issue. It seems `--merge` doesn't update any of the cluster info, including the "server" field? k3sup version 0.9.7, k3s version v1.18.15+k3s1 (60f1e80d).

[2021-01-17 09:52] alexellis commented on #95
Please raise your own issue and give step by step instructions for reproduction. If you skip and summarise, it'll just delay someone looking into it.

[2021-01-17 09:52] alexellis commented on #95
/lock

[2021-01-17 09:53] alexellis commented on #296
/lock

[2021-01-17 12:59] si458 opened #297 "unable to join ec2 instances together"
i am unable to join 2 ec2 instances together, both being master, but not sure if im doing something wrong maybe?
i have opened in my security group the port `6443` from my home ip only

## Expected Behaviour
the second instance to join the cluster on the first?

## Current Behaviour
the second instance never joins the first master

## Possible Solution
let end user specify the internal address k3s

[2021-01-17 18:12] alexellis commented on #297
Sorry that you've having networking issues. This is not a problem with k3sup, but we may be able to make some suggestions for you.

You can read how K3s networking works and what is required in your security group in the K3s docs: https://rancher.com/docs/k3s/latest/en/installation/installation-requirements/#networking

There is no known issue or bug with `k3sup join`, so I'll close this issue.

[2021-01-17 18:12] #297 closed

[2021-01-17 18:13] alexellis commented on #297
/add label: support

[2021-01-18 20:15] wadimklincov commented on #99
Hi @alexellis,

not sure if you've already done some testing wrt this issue or not, but [here's](https://github.com/wadimklincov/example_ssh_config) a very simple docker compose file and an SSH config, which should hopefully demonstrate the issue a bit. I'm happy to improve it if something is missing or unclear!

For me the issue is that I have several settings in my SSH config (jump hosts, keys +

[2021-01-19 18:09] snoopy82481 opened #298 "Question - how can I use k3sup when sudo requires a password"
When running the command k3sup install --ip 192.168.1.182 --user stephen --cluster --ssh-key ~/.ssh/kube-master-1 get the following error:
  sudo: a terminal is required to read the password; either use the -S option to read from standard input or configure an askpass helper
  Error: error received processing command: Process exited with status 1

## Expected Behaviour
Should operate as intended i

[2021-01-20 15:12] ams0 opened #299 "Support RKE2"
## Expected Behaviour
RKE2 seems quite similar to k3s in how it starts and manages the nodes, probably won't be too difficult to adapt k3sup to use it

## Current Behaviour
k3sup works with k3s only

## Possible Solution
Haven't look into the code yet

[2021-01-20 22:05] scheung38 opened #300 "[Question] How to deploy"
How to deploy a full stack frontend + backend + PostgresQL after launching it ? Any nice articles please?

This is assuming these three images are already in hub.docker.com

 Much appreciated

[2021-01-21 12:00] alexellis commented on #300
Yes absolutely. I have a step-by-step workshop available in my sponsors portal - any OpenFaaS sponsor can get access.

https://faasd.exit.openfaas.pro/function/trove/

You'd probably also enjoy the new book on faasd which walks you through Postgresql and consuming it from a Node.js backend API.

https://gumroad.com/l/serverless-for-everyone-else

Thanks for the question.

[2021-01-21 12:00] #300 closed

[2021-01-21 12:33] #299 closed

[2021-01-21 12:33] alexellis commented on #299
/add label: wontfix

[2021-01-21 12:34] alexellis commented on #299
Thank you for taking an interest in k3sup. I don't have any budget or scope to add RKE (k3sup is free and open-source), but if Rancher Labs wanted to fund this, I would consider it..

[2021-01-21 23:47] ncodee commented on #298
Facing the same issue here, but on Ubuntu 20.10.

[2021-01-22 21:56] smcue commented on #298
Can vouch the same issue for me here.

[2021-01-23 11:50] si458 commented on #100
Hi @alexellis
sorry to tag onto this but im experiencing the same issue as above
clean ubuntu 20.04.1 install using mini.iso (virtuozzo KVM)
user called ubuntu
was the any progress with this type of issue?
or a workaround?
[code]

[2021-01-23 12:08] si458 commented on #100
@alexellis its ok figured it out 👍

add `(YOUR USER) ALL=(ALL) NOPASSWD: ALL` into the `visudo`

[2021-01-23 19:35] gilsdav commented on #298
Your user has to be configured to be able to exacute sudo commands without password:
[code]

[2021-01-25 09:51] developer-guy opened #301 "[PROPOSAL] Air-gapped support"
K3s has an air-gapped installation method, maybe we can add this to k3sup.

https://rancher.com/docs/k3s/latest/en/installation/airgap/

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* What Kubernetes distribution are you using?

[code]

* What OS or type or VM are you using for your cluster? Where

[2021-01-25 13:35] alexellis commented on #301
I would welcome suggestion here for approaches and designs

[2021-01-25 16:46] gnoejuan commented on #298
I would request this information is added to the README

[2021-01-26 22:40] F1r3Hydr4nt opened #302 "Dead link in README.md RE: Security line 441"
_**### The link above does not pertain to setting up a firewall.**_

## Possible Solution

A summary of the information that was contained there would be there, I tried finding a copy but couldn't

Thanks!

[2021-01-26 22:56] alexellis commented on #302
Thanks for your interest in k3sup. Feel free to send a PR with where Rancher moved the page to. I'm guessing the networking section of their docs site